<style lang="scss" scoped>
  @import 'login.scss';
</style>

<script>
import { Toast } from 'mint-ui';
import { smscode,login } from '/api/index.js';
import { setStore, getStore, removeStore } from '/utils/storage.js'
export default {
  data () {
    return {
      phone: '',
      smsCode: '',
      hasGetSmscode: false,
      timing: false,
      timingNum: 60,
      timer: null,
      errmsg: '',
    }
  },
  mounted () {
    window.addEventListener('blur', this.handleBlur);
  },
  created () {},
  methods: {
    toHome () {
        window.location.href = "/"
    },
    getSmscode () {
      window.scroll(0, 0);
      var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
      if(this.phone.length!=11 || !reg.test(this.phone)) {
        this.errmsg = this.$t("common.tipstel");
        return false;
      }
      this.errmsg="";
      smscode({"mobile": this.phone}).then(res => {
        Toast(this.$t("common.codesent"));
        this.hasGetSmscode = true;
        this.timing = true;
        this.timingFfn();
      })
    },
    timingFfn () {
      var that = this;
      this.timer = setInterval(function () {
        if(that.timingNum==1) {
          that.timing = false;
          that.timingNum = 60;
          clearInterval(that.timer);
          return false;
        }
        that.timingNum = that.timingNum - 1;
      }, 1000);
    },
    loginFn () {
      var params = {
        "mobile": this.phone,
        "validateCode": this.smsCode,
      }
      login(params).then(res=> {
        if(res.code!=200) {
          this.errmsg = res.message;
          return false;
        }
        setStore('userInfo', res.data)
        location.replace(getStore("lastPage"))
        window.scroll(0, 0);
        setStore("hasLogin", true);
      })
    },
    toPrivacy () {
      this.$router.push({
        path: '/privacy'
      })
    },
    handleBlur () {
      window.scroll(0, 0);
    },
  }
}
</script>

<template>
<div style="padding: 0.16rem;background: #fff;">
  <div @click="toHome">
    <img src="/static/img/close.png" class="close">
  </div>
  <div class="pageTitle">
    <img src="/static/img/more.png">
    <span>{{$t("login.title")}}</span>
  </div>
  <div class="form">
    <div class="submitMsg">
      <span v-if="errmsg!=''">* {{errmsg}}</span>
    </div>
    <div class="formInput">
      <img src="/static/img/phone.png">
      <!-- :attr="{ oninput: 'if(value.length>15)value=value.slice(0,11)' }" -->
      <mt-field :placeholder="$t('placeholder.enterphone')" :attr="{ maxlength: 11 }" type="tel" v-model="phone">
      </mt-field>
    </div>
    <div class="formInput">
      <img src="/static/img/lock.png">
      <mt-field :placeholder="$t('placeholder.entercode')" type="tel" v-model="smsCode">
      </mt-field>
      <div class="smsCode" v-if="!timing" @click="getSmscode">{{hasGetSmscode ? $t("login.again") : $t("login.verificode")}}</div>
      <div class="smsCode" v-if="timing">{{timingNum}} s</div>
    </div>
    <div>
      <mt-button type="primary" size="large" @click="loginFn">{{$t("login.login")}}</mt-button>
    </div>
    <div class="privacy">
      {{$t("login.tips")}}<span @click="toPrivacy">{{$t("login.policytips")}}</span>
    </div>
  </div>
</div>
</template>
