.close {
  width: 0.22rem;
  height: 0.22rem;
}
.pageTitle {
  font-size: 0.28rem;
  color: #000;
  margin-top: 0.55rem;
  margin-bottom: 0.74rem;
  img {
    width: 0.16rem;
    height: 0.16rem;
    vertical-align: middle;
  }
}
.form {
  .submitMsg {
    color: #D5001C;
    font-size: 0.12rem;
    line-height: 1;
    height: 0.165rem;
    line-height: 0.165rem;
    margin-bottom: 0.25rem;
  }
  .formInput {
    border: 1px solid #B5B4BA;
    height: 0.44rem;
    margin-bottom: 0.16rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    img {
      width: 0.32rem;
      height: 0.32rem;
    }
    .smsCode {
      // width: 0.83rem;
      min-width: 0.83rem;
      text-align: center;
      background: #000;
      color: #fff;
      line-height: 0.44rem;
      font-size: 0.12rem;
      padding: 0 0.1rem;
    }
  }
  .privacy {
    color: #9B9B9B;
    font-size: 0.11rem;
    text-align: center;
    height: 0.43rem;
    line-height: 0.43rem;
    span {
      display: inline-block;
      line-height: 0.43rem;
      color: #D5001C;
    }
  }
}
.mint-cell {
  min-height: 0.42rem;
  flex-grow: 1;
}
.mint-cell:last-child {
  background-image: none;
}