<style lang="scss" rel="stylesheet/scss" scoped>
  @import 'home.scss';
</style>
<script>
  import { Indicator,Toast } from 'mint-ui';
  import { setStore,getStore } from '/utils/storage.js'
  import { homeApi,share } from '/api/index.js'
  import wx from 'weixin-js-sdk'
  export default {
    data () {
      return {
        pageHeight: '',
        hasLogin: true,
        bannerHeight: '848px',
        language: 'zh',
        showSideBar: false,
        error: false,
        advertises: [],  // 首页广告列表
        hostFiCarModels: [],  //首页热销车型金融产品列表
      }
    },
    computed: {
      jrlist: function () {
        return [
          {
            title: this.$t('home.homejr'),
            imgsrc: '/static/img/homejr.png',
            desc: this.$t('home.homejrDesc')
          },
          {
            title: this.$t('home.homejrS'),
            imgsrc: '/static/img/homejr50.png',
            desc: this.$t('home.homejr50Desc')
          },
          {
            title: this.$t('home.homejr50'),
            imgsrc: '/static/img/homejrS.png',
            desc: this.$t('home.homejrSDesc')
          },
        ]
      }
    },
    created () {
      homeApi().then(res => {
        if (res.code != 200) {
          this.error = true;
          return
        }
        this.advertises = res.data.advertises;
        this.hostFiCarModels = res.data.hostFiCarModels;
      })
      let ua = navigator.userAgent.toLowerCase();
      let isiOS = /(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent);
      let isWx = (/micromessenger/.test(ua))
      if (isiOS && isWx) {
        this.$router.push({path: '/#'})
      }
      setStore("lastPage",window.location.hash);
      this.hasLogin = getStore("hasLogin") == "true" ? true : false;
      this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
      document.getElementsByTagName("title")[0].innerText = this.$t("common.pagetitle");
      this.bannerHeight = window.innerWidth * (848/750) + "px";
      this.wxFn();
    },
    methods: {
      linkTo (num) {
          let arr = [
            'https://www.porsche.cn/china/'+this.language+'/accessoriesandservice/porschefinancialservices/porschefinance/',
            'https://www.porsche.cn/china/'+this.language+'/accessoriesandservice/porschefinancialservices/porschefinance-s/',
            'https://www.porsche.cn/china/'+this.language+'/accessoriesandservice/porschefinancialservices/porschefinance-50-50/'
          ];
          // location.replace(arr[num];
          window.location.href = arr[num];
      },
      toCarList () {
        this.$router.push({
          path: '/carList',
        })
      },
      adverPageTo (item) {
        console.log(item);
        if(item.linkType == 0) {
          window.location.href = item.url;
        }else if (item.linkType == 1) {
          this.$router.push({
            path: '/PfsProduct',
            query: {
              carModelId: item.sourceId
            }
          })
        } else if (item.linkType == 2) {
          this.$router.push({
            path: '/PfsCalculator',
            query: {
              calculatorId: item.sourceId
            }
          })
        }
      },
      goPfsPro (item) {
        this.$router.push({
          path: '/PfsCalculator',
          query: {
            calculatorId: item.carProdId
          }
        })
      },
      navTo (url) {
        this.$router.push({
          path: url,
        })
        this.showSideBar = false;
      },
      showSidebarFn () {
        this.showSideBar = !this.showSideBar;
      },
      toWebUrl (type) {
        var obj = {
          weibo: 'http://e.weibo.com/porschechina',
          wechat: 'https://www.porsche.com/china/zh/wechat/',
          youku:	'http://tvs.youku.com/porsche/',
          linkedin: 'https://www.linkedin.com/company/porsche-ag/',
          website: 'https://www.porsche.cn'
        }
        window.location.href = obj[type];
      },
      changeLge (lge) {
        this.language = lge.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
        this.$i18n.locale = lge;
        this.$store.dispatch('setLanguage',lge);
        document.getElementsByTagName("title")[0].innerText = this.$t("common.pagetitle");
      },
      shareFn () {
        var params = {
          title: '保时捷金融test',
          desc: '这是描述',
          link: location.href.split('#')[0],
          imgUrl: this.advertises[0].pic,
          success: function () {
          }
        }
        wx.updateAppMessageShareData(params)
        wx.updateTimelineShareData(params)
      },
      wxFn () {
        var that = this;
        share({sharingUrl: encodeURIComponent(location.href.split('#')[0])}).then(res => {
            wx.config({
              debug: false,
              appId: res.data.appId, // 和获取Ticke的必须一样------必填，公众号的唯一标识
              timestamp: res.data.timestamp, // 必填，生成签名的时间戳
              nonceStr: res.data.noncestr, // 必填，生成签名的随机串
              signature: res.data.signature,// 必填，签名，见附录1
              //需要分享的列表项:发送给朋友，分享到朋友圈，分享到QQ，分享到QQ空间
              jsApiList: [
                'updateAppMessageShareData'
              ]
            });
            //处理验证成功的信息
            wx.ready(function (res) {
              //处理验证失败的信息
              wx.error(function (res) {
                alelrt("error"+res)
              });
              wx.checkJsApi({
                jsApiList: ['updateAppMessageShareData'],
                success: function (res) {
                },
                error : function (erro) {
                }
              })
              var params = {
                title: that.$t("common.pagetitle"),
                desc: that.advertises[0]["name" + that.language],
                link: location.href.split('#')[0],
                imgUrl: that.advertises[0].pic,
                success: function () {
                }
              }
              wx.updateAppMessageShareData(params)
              wx.updateTimelineShareData({
                title: that.$t("common.pagetitle"),
                link: location.href.split('#')[0],
                imgUrl: that.advertises[0].pic,
                success: function () {
                }
              })
            });
        })
      },

    },
    mounted () {
      var that = this;
      window.addEventListener(
        "onorientationchange" in window ? "orientationchange" : "resize",
        function() {
          setTimeout(function() {
            console.log(window.innerHeight)
            that.innerHeight = window.innerHeight + "px";
            that.innerWidth = window.innerWidth + "px";
            that.bannerHeight = window.innerWidth * (848/750) + "px";
          },500)
        },
        false
      );
    },
  }
</script>
<template>
<div class="homeBody">
  <!-- <div v-if="!error" :style="{ 'overflow': showSideBar ? 'hidden' : 'scroll' }" style="height: 100vh;"> -->
  <div v-if="!error" :style="{ 'overflow': showSideBar ? 'hidden' : 'scroll' }" style="height: 100%;">
    <div class="homeTop">
      <img class="homeLogo" src="/static/img/logo.png">
      <img class="homeNav" src="/static/img/list.png" @click="showSidebarFn">
    </div>
    <mt-swipe :auto="4000" class="homeSwiper" :style="{'height': bannerHeight}">
      <mt-swipe-item v-for="(item,i) in advertises" :key="i">
        <img :src="item.pic" class="swiperImg" @click="adverPageTo(item)">
        <div class="homeSwiperCon">
          <img src="/static/img/more.png" class="moreImg">
          <div>
            <div class="con">{{item["name"+language]}}</div>
            <div class="con">{{item["nameSub"+language]}}</div>
          </div>
        </div>
      </mt-swipe-item>
    </mt-swipe>
    <div style="background: #fff;padding-top: 0.235rem;">
      <div class="homeTitle">{{$t('home.offers')}}</div>
      <div class="homeLine"></div>
      <ul class="homeMonthCost">
        <li v-for="(item,i) in hostFiCarModels" :key="i" @click="goPfsPro(item)">
          <img :src="item.imageUrl">
          <div>
            <!-- <div>{{item.titleZh}}</div> -->
            <div>{{item["title"+language]}}</div>
            <div style="font-size: 0.12rem;">{{item["titleSub"+language]}}</div>
          </div>
        </li>
      </ul>
      <div class="viewMore" @click="toCarList">
        <img src="/static/img/more.png" class="more" style="vertical-align: middle;">
        {{$t('home.more')}}
      </div>
    </div>
    <div class="homeSplit"></div>
    
    <div style="background: #fff;padding-top: 0.16rem;">
      <div class="homeTitle">{{$t("home.products")}}</div>
      <div class="homeLine"></div>
      <ul class="homeProductList">
        <li v-for="(item,i) in jrlist" :key="i" @click="linkTo(i)">
          <div class="productLeft">
            <img :src="item.imgsrc">
          </div>
          <div class="productRight">
            <img src="/static/img/more.png" class="more">
            <div>
              <div style="margin-bottom: 0.05rem;">{{item.title}}</div>
              <div style="color: #84868C;font-size: 0.14rem;font-weight: normal;">{{item.desc}}</div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="homeSplit"></div>
    <div style="background: #fff;padding-top: 0.16rem;" v-if="false">
      <div class="homeTitle">金融工具</div>
      <div class="homeLine"></div>
      <ul class="homeTool">
        <li>
          <img src="/static/img/counter.png" alt="">
          <div>金融计算器</div>
        </li>
        <li>
          <img src="/static/img/audit.png" alt="">
          <div>金融预审</div>
        </li>
        <li>
          <img src="/static/img/car.png" @click="toCarList">
          <div>车型列表</div>
        </li>
        <li>
          <img src="/static/img/PFS.png" alt="">
          <div>我的PFS</div>
        </li>
      </ul>
    </div>
    <div class="homeFooter">
      <ul>
        <!-- <li style="text-align: left;" @click="shareFn">
          <div>{{$t("home.share")}}</div>
          <img src="/static/img/share.png" alt="">
        </li> -->
        <li style="font-size: 0.12rem;" @click="toWebUrl('website')">
          <div>{{$t("home.website")}}</div>
          <img src="/static/img/link.png" alt="">
        </li>
      </ul>
      <div style="font-size: 0.12rem;">{{$t("home.connect")}}</div>
      <ul style="margin-top: 0.1rem;margin-bottom: 0.15rem;">
        <img src="/static/img/webo.png" @click="toWebUrl('weibo')">
        <img src="/static/img/wechat.png" @click="toWebUrl('wechat')">
        <img src="/static/img/youku.png" @click="toWebUrl('youku')">
        <img src="/static/img/ins.png" @click="toWebUrl('linkedin')">
      </ul>
      <div style="font-size: 0.1rem;">© {{$t('home.copyright')}}</div>
      <div style="font-size: 0.1rem;text-align: center;">沪ICP备10013326号</div>
    </div>
  </div>
  <div class="sideBar" :class="[showSideBar ? 'showA' : 'hideA']" >
    <div class="sideBarBtn" @click="showSidebarFn"></div>
    <div :class="[showSideBar ? 'showAni' : 'hideAni']" class="sideBarBody">
      <div class="sideBarTit">
        <!-- <span style="font-size: 0.18rem;font-weight: bold;flex-grow:1;">{{$t('nav.nav')}}</span> -->
        <span style="font-size: 0.18rem;flex-grow:1;">{{$t('nav.nav')}}</span>
        
        <!-- <span @click="changeLge('zh')" class="language" :class="[language == 'Zh' ? 'active' : '']" style="text-align: right;font-weight: bold;">中</span> -->
        <span @click="changeLge('zh')" class="language" :class="[language == 'Zh' ? 'active' : '']" style="text-align: right;">中</span>
        <span class="split">|</span>
        <span @click="changeLge('en')" class="language" :class="[language == 'En' ? 'active' : '']">EN</span>
      </div>
      <ul class="sideBarList">
        <li @click="navTo('Center')">
          <span>{{$t('nav.account')}}</span>
          <img src="/static/img/more.png" class="more">
        </li>
        <!-- <li @click="navTo('HistoryAudit')">
          <span>{{$t('nav.auditrecords')}}</span>
          <img src="/static/img/more.png" class="more">
        </li> -->
        <li @click="navTo('History')">
          <span>{{$t('nav.leaveinforecords')}}</span>
          <img src="/static/img/more.png" class="more">
        </li>
        <li @click="navTo('Dealer')">
          <span>{{$t('nav.finddealer')}}</span>
          <img src="/static/img/more.png" class="more">
        </li>
        <li @click="navTo('About')">
          <span>{{$t('nav.aboutus')}}</span>
          <img src="/static/img/more.png" class="more">
        </li>
      </ul>
      <div v-if="!hasLogin" class="sideBarLogin" @click="navTo('Login')">{{$t("login.title")}}</div>
    </div>
  </div>
  <div class="no-info" v-if="error">
    <div class="no-data" style="text-align: center;">
      <img src="/static/images/error.png">
      <br> 抱歉！出错了...
    </div>
  </div>

</div>
</template>
