.homeBody {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.homeTop {
  position: relative;
  height: 0.62rem;
  text-align: right;
  z-index: 2;
  background: #fff;
  .homeLogo {
    display: inline-block;
    width: 1.17rem;
    height: 0.95rem;
    position: absolute;
    left: 0.025rem;
    top: 0;
    z-index: 2;
  }
  .homeNav {
    width: 0.22rem;
    height: 0.22rem;
    border: 1px dashed rgba(255,255,255,1);
    position: relative;
    top: 0.25rem;
    right: 0.135rem;
  }
}
.homeSwiper {
  // height: 4.24rem;
  width: 100%;
  font-size: 0.18rem;
  background: #121619;
  z-index: 1;
  .swiperImg {
    // height: 4.22rem;
    width: 100%;
  }
  .homeSwiperCon {
    width: 100%;
    position: absolute;
    bottom: 0.6rem;
    left: 0;
    padding-left: 0.12rem;
    padding-right: 0.12rem;
    color: #fff;
    display: flex;
    align-items: flex-start;
    .con {
      width: calc(100% - 0.12rem);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .moreImg {
      height: 0.22rem;
      width: 0.22rem;
      margin-right: 0.08rem;
    }
    & > div {
      font-size: 0.18rem;
      flex-grow: 1;
      div:last-child {
        font-size: 0.16rem;
      }
    }
  }
}
.el-carousel__item{
  background-color:#ffffff;
  border: 1px solid #e5e5e5;
  height: 35.16rem;
}
.homeTitle {
  font-size: 0.18rem;
  text-align: center;
  margin-bottom: 0.12rem;
  // font-weight: bold;
  color: #000;
}
.homeLine {
  width: 0.29rem;
  height: 0.03rem;
  background: rgba(213,0,28,1);
  margin: 0 auto 0.165rem;
}
.homeMonthCost {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.12rem;
  flex-wrap: wrap;
  color: #fff;
  li {
    width: 1.7rem;
    height: 1.7rem;
    margin-bottom: 0.11rem;
    background: #ddd;
    display: inline-block;
    position: relative;
    font-size: 0.16rem;
    // font-weight: bold;
    img{
      width: 1.7rem;
      height: 1.7rem;
    }
    &>div {
      position: absolute;
      left: 0.12rem;
      top: 1.17rem;
      div {
        overflow: hidden;    
        text-overflow: ellipsis;      //超出部分以省略号显示
        white-space: nowrap;
        width: 1.46rem;  //用px单位亦可行
      }
    }
  }
}
@media screen and (max-width:480px){
  .homeMonthCost {
    li {
      &:nth-of-type(odd) {
        margin-right: 0.1rem;
      }
    }
  }
}
@media screen and (min-width:480px) and (max-width:1200px){
  .homeMonthCost {
    li {
      margin-right: 0.1rem;
    }
  }
}
@media screen and (min-width: 1200px){
  .homeMonthCost {
    li {
      width: 1.6rem;
      height: 1.6rem;
      img {
        height: 1.6rem;
        width: 1.6rem;
      }
    }
  }
}
.viewMore {
  padding: 0.01rem 0.12rem 0.09rem;
  color: #84868C;
  font-size: 0.14rem;
  text-align: right;
}
.homeSplit {
  height: 0.085rem;
  background: #F4F4F4;
  width: 100%;
}
.homeProductList {
  // font-weight: bold;
  li {
    margin-top: 0.12rem;
    display: flex;
    align-items: flex-start;
    font-size: 0.16rem;
    .productLeft {
      img {
        width: 1.28rem;
        height: 0.96rem;
        margin-left: 0.12rem;
        margin-right: 0.24rem;
        background: #ddd;
      }
    }
    .productRight {
      display: flex;
      align-items: flex-start;
      margin-right: 0.12rem;
      img {
        margin-top: 0.025rem;
      }
      span {
        color: #D5001C;
      }
    }
  }
}
.homeTool {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
  padding-bottom: 0.32rem;
  li  {
    &:not(:last-child) {
      margin-right: 0.36rem;
    }
    text-align: center;
    img {
      width: 0.35rem;
      height: 0.35rem;
      margin: auto;
    }
  }
}
.homeFooter {
  background: #181C1F;
  padding: 0.125rem 0.85rem 0.23rem;
  color: #474C50;
  // font-size: 0.12rem;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      img {
        width: 0.35rem;
        height: 0.35rem;
        margin-top: 0.05rem;
        margin-bottom: 0.15rem;
      }
    }
    img {
      width: 0.35rem;
      height: 0.35rem;
      background: #2C3032;
    }
  }
  & > div {
    font-size: 0.1rem;
  }
}
.sideBar {
  // position: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // height: 100vh;
  background: rgba(0, 00, 0, 0.5);
  z-index: 3;
  display: flex;
  transform: translateX(100%);
  // left: 100%;
  &.showA {
    animation: showA 0.001s ease-out both;
  }
  &.hideA {
    animation: hideA 0.001s ease-out .5s forwards;
  }
  .sideBarBtn {
    width: calc(100% - 2.555rem);
    // height: 100vh;
    background: transparent;
  }
  .sideBarBody {
    width: 2.555rem;
    // height: 100vh;
    float: right;
    background: #fff;
    display: flex;
    flex-direction: column;
    // animation: sideIn 5s backwards;
    .sideBarTit {
      color: #000;
      padding: 0 0 0 0.12rem ;
      display: flex;
      align-items: center;
      height: 0.915rem;
      justify-content: space-between;
      .language {
        display: block;
        height: 0.45rem;
        line-height: 0.45rem;
        width: 2em;
        font-size: 0.11rem;
        &.active {
          color: #D5001C;
        }
      }
      .split {
        margin: 0 0.01rem;
        position: relative;
        top: -0.02rem;
      }
    }
    .sideBarList {
      padding: 0 0.12rem;
      flex-grow: 1;
      overflow: scroll;
      li {
        font-size: 0.14rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 0.5rem;
        border-bottom: 1px solid #D8D8D8;
      }
    }
    .sideBarLogin {
      background: #950014;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
      color: #fff;
      font-size: 0.15rem;
    }
  }
  .showAni {
    animation: showAni .5s ease-out both;
  }
  .hideAni {
    animation: hideAni .5s ease-out both;
  }
}
.more {
  width: 0.16rem;
  height: 0.16rem;
}
@keyframes showAni {
  0% {transform: translateX(2.555rem)}
  100% {transform: translateX(0)}
}
@keyframes hideAni {
  0% {transform: translateX(0)}
  100% {transform: translateX(2.555rem)}
}
@keyframes showA {
  0% {transform: translateX(100%)}
  100% {transform: translateX(0)}
}
@keyframes hideA {
  0% {transform: translateX(0)}
  100% {transform: translateX(100%)}
}



