
.pfsP_listTit {
  height: 0.44rem;
  line-height: 0.44rem;
  border-bottom: 1px solid #E6E6E6;
  color: #000000;
  font-size: 0.15rem;
}
.pfsP_range {
  padding: 0 0.13rem;
  div {
    font-size: 0.14rem;
    color: #4A4D54;
  }
  .rangeTit {
    margin-top: 0.175rem;
    // margin-bottom: 0.09rem;
    span {
      color: #000;
      // font-weight: bold;
    }
  }
  .rangeDesc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #4A4D54;
    padding: 4px;
    font-size: 0.13rem;
  }
  .tenors {
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        width: 0.775rem;
        height: 0.24rem;
        border: 1px solid #E6E6E6;
        line-height: 0.24rem;
        text-align: center;
        margin-right: 0.08rem;
        margin-top: 0.16rem;
        &.active {
          border-color: #D5001C;
          color: #D5001C;
        }
      }
    }
  }
}
.calculator {
  padding: 0.17rem 0.25rem 0;
  border-top: 1px solid #E6E6E6;
  background: #fff;
  .calculator_list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #4A4D54;
    font-size: 0.14rem;
    // font-weight: bold;
    padding-bottom: 0.17rem;
    .number {
      color: #000000;
      font-weight: normal;
      text-align: right;
    } 
  }
}
.tabFooter {
  display: flex;
  height: 0.5rem;
  line-height: 0.5rem;
  width: 100%;
  // position: fixed;
  // bottom: 0;
  div {
    width: 50%;
    text-align: center;
    color: #fff;
    &:first-child {
      background: #000000;
    }
    &:last-child {
      background: #950014;
    }
  }
}
.annotation {
  font-size: 0.11rem;
  color: #84868C;
  text-align: center;
  padding-top: 0.05rem;
  padding-bottom: 0.8rem;
  background: #FAFAFA;
  padding: 0.2rem 0.1rem 0.8rem;
}
.audit {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  flex-grow: 1;
  .auditBody {
    width: 100%;
    height: 3.86rem;
    background: #fff;
    position: absolute;
    bottom: 0;
    overflow: auto;
    .title {
      height: 0.44rem;
      text-align: center;
      line-height: 0.44rem;
      border-bottom: 1px solid #E6E6E6;
      color: #333333;
      font-size: 0.15rem;
    }
    .condition {
      font-size: 0.13rem;
      padding: 0 0.16rem;
      .tit {
        line-height: 1;
        margin-top: 0.2rem;
        margin-bottom: 0.08rem;
        color: #999999;
      }
      ul {
        margin-left: 0.16rem;
        color: #333333;
        li {
          list-style: disc;
          line-height: 1;
          margin-bottom: 0.06rem;
        }
      }
    }
    .btn {
      padding: 0 0.12rem;
      color: #fff;
      div {
        width: 100%;
        height: 0.44rem;
        line-height: 0.44rem;
        text-align: center;
      }
      .start {
        background: #950014;
        margin-top: 0.6rem;
      }
      .cancel {
        background: #000000;
        margin-top: 0.12rem;
      }
    }
  }
}