<style lang="scss" scoped>
  @import 'PfsCalculator.scss';
  @import '../PfsProduct/PfsProduct.scss';
</style>
<script>
import { setStore } from '/utils/storage.js'
import { getUserInfo,pfsCalculator,calculator,calculator_py,calculator_pv } from '/api/index.js';
export default {
  data () {
    return {
      language: 'zh',
      showAudit: false,  // 预审核
      initData: {},   // 基本信息
      product: {},    // 金融方案
      tenors: {},    // 贷款周期
      downPayments: {}, // 首付比例
      balloonPayments: {}, // 尾款比例
      specificInstallments: [], // 特定月供数据

      dpRatio: '',    // 首付比例
      tailRatio: '',  // 尾款比例
      loanPeriod: '',   // 贷款周期
      interestRate: '', // 贷款利率
      monthlyRatio: '', // 阶段年供 月利率
      yearlyRatio: '', // 阶段年供 年利率
      monthlyAmount: '',  //月供金额

      result: {},   // 贷款数据结果
    }
  },
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    // 选择贷款周期
    chhoseTenors (item) {
      this.loanPeriod = item.loanPeriod;
      this.interestRate = item.interestRate;
      this.monthlyRatio = item.monthlyRatio;
      this.yearlyRatio = item.yearlyRatio;
      this.calculator();
    },
    // 选择尾款比例
    chhoseTail (item) {
      this.tailRatio = item.rangelow;
      this.calculator();
    },
    chhosedpRatio (item) {
      this.dpRatio = item.rangelow;
      this.calculator();
    },
    // 经典模式下 贷款数据计算
    calculator () {
      var obj = {
        "loanPeriod": this.loanPeriod, "msrp": this.initData.modelMsrp,
      }
      var paramsBasic = {
        "dpRatio": this.dpRatio/100,
        "interestRate": Number(this.interestRate)/100,
        "tailRatio": this.tailRatio/100,
      }
      var paramsPy = {
        "dpRatio": this.dpRatio/100,
        "monthlyRatio": this.monthlyRatio,
        "yearlyRatio": this.yearlyRatio
      }
      var paramsPv = {
        "interestRate": Number(this.interestRate)/100,
        "tailRatio": this.tailRatio/100,
        "monthlyAmount": this.monthlyAmount
      }
      // 经典贷款计算
      if(this.product.formula == "classic") {
        var params = Object.assign(obj,paramsBasic);
        calculator(params).then(res => {
          this.result = res.data;
        })
      }else if (this.product.formula == "bullet_balloon") {
        // 年供
        var params = Object.assign(obj,paramsPy);
        calculator_py(params).then(res => {
          this.result = res.data;
        })
      } else if (this.product.formula == "specific_installment") {
        // 月供
        var params = Object.assign(obj,paramsPv);
        calculator_pv(params).then(res => {
          this.result = res.data;
        })
      }
    },
    // 选择首尾比例
    changeDownPay (val) {
      if(val == "tr") {
        if(this.tailRatio >= 100- this.dpRatio) {
          this.tailRatio = 100 - this.dpRatio;
        }
      }
      if(val == "dp") {
        if(this.dpRatio >= 100 - this.tailRatio) {
          this.dpRatio = 100 - this.tailRatio;
        }
      }
      
      this.calculator();
    },
    // 选择月供金额
    chooseMonth (val) {
      this.monthlyAmount = val;
    },
    // 预约试驾
    toTestDrive () {
      getUserInfo().then(res => {
        this.info = res.data;
        setStore('userInfo', res.data)
        var obj = {
          interestRate: this.interestRate,
          loanPeriod: this.loanPeriod,
          monthlyInstallment: this.result.monthlyAmount,
          carProdId: this.$route.query.calculatorId,
          balloonPayment: this.result.tailAmount,
          downPayment: this.dpRatio * this.initData.modelMsrp / 100,
          loanAmount: this.result.loanAmount,
        }
        var params = Object.assign(obj,this.initData);
        
        setStore("testDriveInfo",params);
        this.$router.push({
          path: '/TestDrive',
        })
      })
    },
    showAuditFn () {
      this.showAudit = !this.showAudit;
    },
    applyFn () {
      
      getUserInfo().then(res => {
        this.info = res.data;
        setStore('userInfo', res.data)
        this.$router.push({
          path: '/idcard',
        })
      })
    },
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    setStore("lastPage",window.location.hash);
    this.calculatorId = this.$route.query.calculatorId;
    pfsCalculator({id:this.calculatorId}).then(res => {
      this.initData = res.data.carModel;
      this.product = res.data.product;
      this.tenors = res.data.tenors;
      this.specificInstallments = res.data.specificInstallments;
      this.downPayments = res.data.downPayments;
      this.balloonPayments = res.data.balloonPayments;
      this.loanPeriod = res.data.tenors && res.data.tenors.length > 0 ? res.data.tenors[0].loanPeriod : '';
      this.interestRate = res.data.tenors && res.data.tenors.length > 0 ? Number(res.data.tenors[0].interestRate):'';
      this.monthlyRatio = res.data.tenors && res.data.tenors.length > 0 ? Number(res.data.tenors[0].monthlyPercentage):'';
      this.yearlyRatio = res.data.tenors && res.data.tenors.length > 0 ? Number(res.data.tenors[0].yearlyPercentage):'';
      
      this.dpRatio = res.data.downPayments && res.data.downPayments.length > 0 ? Number(res.data.downPayments[0].rangelow): '';
      this.dpRatio = res.data.downPayments && res.data.downPayments.length > 0 ? Number(res.data.downPayments[0].rangelow): '';
      this.tailRatio = res.data.balloonPayments && res.data.balloonPayments.length > 0 ? Number(res.data.balloonPayments[0].rangelow): '';
      this.monthlyAmount = res.data.specificInstallments && res.data.specificInstallments.length > 0 ? res.data.specificInstallments[0]: '';
      this.calculator();
    })
  },
}
</script>

<template>
<div style="background: #fafafa;position: relative;">
  <mt-header :title="$t('calculator.chooseloanscenario')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body" style="height:calc(100% - 1rem);" :style="{'overflow': showAudit ? 'hidden' : 'scroll'}">
    <img :src="initData.imageBigUrl" class="pfsP_bigImg">
    <div class="pfsP_list">
      <div class="pfsP_listCon_2" v-if="true"> 
        <div>{{initData["modelDesc"+language]}}</div>
        <div>{{initData["modelMsrp"+language]}}</div>
      </div>
    </div>
    <div class="homeSplit"></div>
    <div style="background: #fff;padding: 0 0.12rem 0.1rem;">
      <div class="pfsP_listTit">{{product["name" + language]}}</div>
      <div class="pfsP_range">
        <div v-if="product.formula=='specific_installment'">
          <div class="rangeTit">{{$t('calculator.monthlypay')}}: <span>￥{{monthlyAmount}}</span></div>
          <div class="tenors">
            <ul>
              <li :class="[monthlyAmount == item ? 'active' : '']" v-for="item in specificInstallments" :key="item" @click="chooseMonth(item)">
                ￥{{item}}
              </li>
            </ul>
          </div>
        </div>
        <div v-if="tenors && tenors.length > 0">
          <div class="rangeTit" style="margin-bottom: 0;">{{$t('calculator.tenor')}}: <span>{{loanPeriod}}{{$t("calculator.month")}}</span></div>
          <div class="tenors">
            <ul>
              <li :class="[loanPeriod == item.loanPeriod ? 'active' : '']" v-for="(item,i) in tenors" :key="i" @click="chhoseTenors(item)">
                {{item.loanPeriod}}
              </li>
            </ul>
          </div>
        </div>
        
        <div v-if="downPayments && downPayments.length>0">
          <div class="rangeTit">{{$t('calculator.downpaypercent')}}: <span>{{dpRatio}}%</span></div>
          <mt-range v-if="downPayments.length == 1 && downPayments[0].rangeOption == 'BT'" @change="changeDownPay('dp')"
            v-model="dpRatio" :min="downPayments[0].rangelow * 1" :max="downPayments[0].rangeHigh * 1">
          </mt-range>
          <div class="tenors" v-else>
            <ul>
              <li :class="[dpRatio == item.rangelow ? 'active' : '']" v-for="(item,i) in downPayments" :key="i" @click="chhosedpRatio(item)">
                {{item.rangelow}}%
              </li>
            </ul>
          </div>
          <ul class="rangeDesc" v-if="downPayments.length == 1 && downPayments[0].rangeOption == 'BT'">
            <li>{{downPayments[0].rangelow}}</li>
            <li>{{downPayments[0].rangeHigh}}</li>
          </ul>
        </div>
        
        <div v-if="balloonPayments && balloonPayments.length>0">
          <div class="rangeTit">{{$t('calculator.balloonpaypercent')}}: <span>{{tailRatio}}%</span></div>
          <mt-range v-if="balloonPayments.length == 1 && balloonPayments[0].rangeOption == 'BT'" @change="changeDownPay('tr')"
            v-model="tailRatio" :min="balloonPayments[0].rangelow * 1" :max="balloonPayments[0].rangeHigh * 1">
          </mt-range>
          <div class="tenors" v-else>
            <ul>
              <li :class="[tailRatio == item.rangelow ? 'active' : '']" v-for="(item,i) in balloonPayments" :key="i" @click="chhoseTail(item)">
                {{item.rangelow}}%
              </li>
            </ul>
          </div>
          <ul class="rangeDesc" v-if="balloonPayments.length == 1 && balloonPayments[0].rangeOption == 'BT'">
            <li>{{balloonPayments[0].rangelow}}</li>
            <li>{{balloonPayments[0].rangeHigh}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="calculator">
      <!-- 贷款金额: 在 classic(经典)状态下 展示 -->
      <div class="calculator_list" v-if="product.formula === 'classic' || product.formula === 'bullet_balloon'">
        <div>{{$t("calculator.loanamount")}}</div>
        <div class="number">￥{{result.loanAmount | NumFormat}}</div>
      </div>
      <!-- 首付金额: 在 bullet_balloon(分阶年供)和specific_installment(特定月供)状态下 展示 -->
      <div class="calculator_list" v-if="product.formula == 'bullet_balloon' || product.formula === 'specific_installment'">
        <div>{{$t("calculator.downpaym")}}</div>
        <div class="number" v-if="product.formula == 'specific_installment'">￥{{result.dpAmount | NumFormat}}</div>
        <div class="number" v-if="product.formula == 'bullet_balloon'">￥{{dpRatio*initData.modelMsrp/100 | NumFormat}}</div>
      </div>
      <!-- 贷款利率：都展示 -->
      <div class="calculator_list">
        <div>{{$t('calculator.apr')}}</div>
        <div class="number">{{interestRate}}%</div>
      </div>
      <!-- 月供金额：都展示 -->
      <div class="calculator_list">
        <div>{{$t('calculator.monthlypay')}}</div>
        <div class="number">￥{{(result.monthlyAmount || monthlyAmount) | NumFormat}}</div>
      </div>
      <!-- 尾款金额: 在 classic(经典)和specific_installment(特定月供)状态下 展示 -->
      <div class="calculator_list" v-if="product.formula == 'classic' &&  result.tailAmount!=0 || product.formula == 'specific_installment' &&  result.tailAmount!=0">
        <div>{{$t('calculator.balloonMoney')}}</div>
        <div class="number">{{result.tailAmount | NumFormat}}</div>
      </div>
      <!-- 分阶年供: 在 bullet_balloon(分阶年供) 状态下 展示 -->
      <div class="calculator_list" v-if="product.formula == 'bullet_balloon'">
        <div>{{$t('calculator.bulletballon')}}</div>
        <div class="number">￥{{result.yearlyAmount | NumFormat}}</div>
      </div>
    </div>
    <div class="annotation" style="text-align: left;">
      <div style="margin-bottom: 0.2rem;">{{$t('calculator.tips')}}</div>
      <div>{{$t('calculator.tips2')}}</div>
    </div>
  </div>
  <div class="tabFooter">
    <div @click="toTestDrive">{{$t('calculator.testdriveR')}}</div>
    <div @click="showAuditFn">{{$t('pre.preapproval')}}</div>
  </div>
  <div class="audit" v-if="showAudit">
  <!-- <div class="audit" v-if="false"> -->
    <div class="auditBody">
      <div class="title">{{$t('pre.start')}}</div>
      <div class="condition">
        <div class="tit">{{$t('pre.condition')}}</div>
        <ul>
          <li>{{$t('pre.condition1')}}</li>
          <li>{{$t('pre.condition2')}}</li>
        </ul>
        <div class="tit">{{$t('pre.tips')}}</div>
        <ul>
          <li>{{$t('pre.tips1')}}</li>
          <li>{{$t('pre.tips2')}}</li>
        </ul>
      </div>
      <div class="btn">
        <div class="start" @click="applyFn">{{$t('pre.confirm')}}</div>
        <div class="cancel" @click="showAuditFn">{{$t('pre.cancel')}}</div>
      </div>
    </div>
  </div>
</div>
</template>

