<style lang="scss" scoped>
  @import 'leaveInfo.scss';

</style>
<script>
import { getStore,setStore } from '/utils/storage.js'
import { Toast } from 'mint-ui';
import {getCarseries,getCarModel,getMonthCost,submitLead} from '/api/index.js';
export default {
  data () {
    return {
      language: 'zh',
      dealerInfo: {},
      carseries: [],
      carmodel: [],
      monthly: [],
      expectedMonthlyInstallmentCon: '',
      gender: '',
      showSeries: false,
      seriesName: '',
      showModel: false,
      modelName: '',
      qrCode: '',
      // 提交数据
      customerName: "", //客户姓名
      gender: "", //称谓(0：先生,1:女士,2:隐藏称谓)
      mobile: "", //手机号码
      carSeriesId: "", //车系id
      carModelId: "", //车型id
      dealerId: 2, //经销商id
      expectedMonthlyInstallment: "", //期望月供(在线留资必填)
      remark: "", //备注
    }
  },
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    setStore("lastPage",window.location.hash);

    this.dealerInfo = JSON.parse(getStore("dealerInfo"));
    this.dealerId = this.dealerInfo.id;

    const userInfo = JSON.parse(getStore("userInfo"));
    // this.customerName = userInfo.username;
    // this.gender = userInfo.gender.toString();
    // this.mobile = userInfo.mobile;
    this.customerName = userInfo && userInfo.hasOwnProperty("username") ? userInfo.username : '';
    this.gender = userInfo && userInfo.hasOwnProperty("gender") ? userInfo.gender.toString() : "";
    this.mobile = userInfo && userInfo.hasOwnProperty("mobile") ? userInfo.mobile : '';
    getCarseries().then(res=> {
      this.carseries = res.data;
    })
    this.getMonthCostInit();  // 获取月供选项
  },
  mounted () {
    window.addEventListener('blur', this.handleBlur);
  },
  methods: {
    backPage () {
      if(this.qrCode!='') {
        window.location.href = '/'
      } else {
        this.$router.go(-1);
      }
    },
    getMonthCostInit () {
      getMonthCost({typeName: 'expected_monthly_installment'}).then(res=> {
        res.data.forEach(item => {
          var obj = {};
          obj.value = (item.id).toString();
          obj.label = item.value;
          this.monthly.push(obj);
        })
      })
    },
    showSeriesFn () {
      window.scroll(0, 0);
      this.showSeries = !this.showSeries;
      this.showModel = false;
    },
    showModelFn () {
      window.scroll(0, 0);
      this.showModel = !this.showModel;
    },
    carSeriesChange (item) {
      console.log(item);
      this.seriesName = item["seriesName"+this.language];
      this.carSeriesId = item.seriesId;
      this.modelName = "";
      getCarModel({seriesId: item.seriesId}).then(res => {
        this.carmodel = res.data;
      })
      this.showSeriesFn();
    },
    carModelChange (item) {
      this.modelName = item["modelDesc"+this.language];
      this.carModelId = item.modelId;
      this.showModelFn();
    },
    submit () {
      var reg=11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
      if(!reg.test(this.mobile)) {
        Toast(this.$t("common.tipstel"));
        return false;
      }
      var mustObj = {
        customerName: this.customerName, //客户姓名
        gender: this.gender, //称谓(0：先生,1:女士,2:隐藏称谓)
        mobile: this.mobile, //手机号码
        carSeriesId: this.carSeriesId, //车系id
        carModelId: this.carModelId, //车型id
        dealerId: this.dealerId, //经销商id
        expectedMonthlyInstallment: Number(this.expectedMonthlyInstallment), //期望月供(在线留资必填)
      }
      var obj = {
        remark: this.remark, //备注
        type: 1, //线索类型(0：预约试驾,1:在线留资)
        memberId: getStore("userInfo")!=null && getStore("userInfo") != "" ? JSON.parse(getStore("userInfo")).id : "",
      }
      var that = this;
      var nullNum = 0;
      Object.keys(mustObj).forEach(function(key){
        if (mustObj[key]=="") {
          nullNum++;
        }
      });
      if(nullNum > 0) {
        Toast(this.$t("common.allinfotips"));
        return false;
      }
      var formObj = Object.assign(mustObj,obj);
      this.expectedMonthlyInstallment = Number(this.expectedMonthlyInstallment);
      this.gender = Number(this.gender);
      submitLead(formObj).then(res => {
        this.qrCode = res.data;
      })
    },
    // 前往历史留资记录
    toHistory() {
      this.$router.push({
        path: '/History',
      })
    },
    handleBlur () {
      window.scroll(0, 0);
    },
  },
  watch: {
    'expectedMonthlyInstallment' (e) {
      this.monthly.filter(val => {
        if(val.value == e) {
          this.expectedMonthlyInstallmentCon = val.label;
        }
      })
    },
  }
}
</script>

<template>
<div class="leaveInfo">
  <mt-header :title="$t('nav.leaveinfo')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <template v-if="qrCode==''">
    <div class="ui_body laveinfo_body">
      <div class="leaveI_dealer">
        <div class="title">{{dealerInfo["name"+language]}}</div>
        <div class="tel">{{$t("common.tel")}}：{{dealerInfo.telphone}}</div>
        <div class="address">
          <span style="line-height: 1.2;">{{dealerInfo["address" + language]}}</span>
          <span>{{dealerInfo.distance/1000 | Fixed}}km</span>
        </div>
      </div>
      <div class="leaveI_user">
        <div class="desc">{{$t("center.name")}}</div>
        <div class="input"><input :placeholder="$t('placeholder.entername')" v-model="customerName" /></div>
        
        <div class="desc">{{$t("common.gendertit")}}</div>
        <div style="margin-top: 0.15rem;margin-bottom: 0.02rem;">
          <mt-radio
            title=""
            v-model="gender"
            :options="[{label: $t('common.mr'),value: '0'}, {label: $t('common.ms'),value: '1'}, {label: $t('common.na'),value: '2'}]">
          </mt-radio>
        </div>

        <div class="desc" style="padding-top: 0;">{{$t("history.cellphone")}}</div>
        <div class="input"><input :placeholder="$t('placeholder.enterphone')" type="number" max="11" v-model="mobile" /></div>

        <div class="desc">{{$t("leaveinfo.carseries")}}</div>
        <div class="select">
          <div class="selectInput" @click="showSeriesFn">{{seriesName}}</div>
          <ul class="selectList" v-if="showSeries">
            <li :class="[item.seriesId==carSeriesId ? 'active':'']" v-for="(item,i) in carseries" :key="i" @click="carSeriesChange(item)">
              {{item["seriesName"+language]}}
            </li>
          </ul>
        </div>

        <div class="desc">{{$t("leaveinfo.carmodelinfo")}}</div>
        <div class="select">
          <div class="selectInput" @click="showModelFn">{{modelName}}</div>
          <ul class="selectList" v-if="showModel">
            <li :class="[item.modelId==carModelId ? 'active':'']" v-for="(item,i) in carmodel" :key="i" @click="carModelChange(item)">{{item["modelDesc"+language]}}</li>
          </ul>
        </div>
        
        <div class="desc">{{$t("leaveinfo.expectedmon")}}
          <span style="font-weight: normal;color: #000;">{{expectedMonthlyInstallmentCon}}</span>
        </div>
        <div style="margin-top: 0.15rem;margin-bottom: 0.02rem;">
          <mt-radio
            title=""
            v-model="expectedMonthlyInstallment"
            :options="monthly"
            >
          </mt-radio>
        </div>
      </div>
      <div class="leaveI_remark">
        <div>{{$t("common.remark")}}</div>
        <mt-field :placeholder="$t('placeholder.enter')" type="textarea" rows="4" v-model="remark"></mt-field>
      </div>
    </div>
    <div class="ui_footerBtn" @click="submit">
      {{$t("common.submit")}}
    </div>
  </template>
  <template v-if="qrCode!=''">
    <div class="qrCode_body">
      <div class="qrCode_status">
        <img src="/static/img/scc.png">
        <span>{{$t("leaveinfo.successfully")}}</span>
      </div>
      <div class="qrCode_desc">{{$t("common.showqrcode")}}</div>
      <div class="qrCode_img">
        <img :src="qrCode">
      </div>
    </div>
    <div class="ui_footerBtn" @click="toHistory">
      {{$t("history.tohistory")}}
    </div>
  </template>
</div>
</template>
