.leaveInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  .laveinfo_body {
    height: calc(100vh - 1rem);
    overflow: auto;
    .leaveI_dealer {
      margin: 0.08rem 0;
      background: #fff;
      color: #333;
      font-size: 0.12rem;
      padding: 0.16rem;
      &>div {
        line-height: 1;
      }
      .title {
        font-size: 0.15rem;
        // font-weight: bold;
        margin-bottom: 0.13rem;
      }
      .address {
        color: #999999;
        margin-top: 0.12rem;
        display: flex;
        justify-content: space-between;
      }
    }
    .leaveI_user {
      padding: 0 0.12rem;
      background: #fff;
      div {
        line-height: 1;
      }
      .desc {
        padding-top: 0.16rem;
        margin-bottom: 0.11rem;
        color: #4A4A4A;
        font-size: 0.15rem;
        // font-weight: bold;
        display: flex;
        justify-content: space-between;
      }
      .input {
        margin-top: 0.11rem;
        input {
          height: 0.44rem;
          width: 100%;
          padding-left: 0.12rem;
          box-sizing: border-box;
          display: inline-block;
          border: 1px solid #B5B4BA;
          border-radius: 0;
        }
      }
      .select {
        height: 0.44rem;
        width: 100%;
        position: relative;
        .selectInput {
          height: 0.44rem;
          line-height: 0.44rem;
          padding-left: 0.16rem;
          border: 1px solid #B5B4BA;
          background: url("/static/img/triangle.png") right 0.12rem center/0.16rem 0.16rem no-repeat ;
        }
        .selectList {
          position: absolute;
          left: 0;
          top: 0.44rem;
          width: 100%;
          background: #fff;
          z-index: 2;
          border: 1px solid #B5B4BA;
          border-top: none;
          box-shadow:0px 4px 16px 0px rgba(0,0,0,0.12);
          max-height: 2.2rem;
          overflow: auto;
          li {
            height: 0.44rem;
            line-height: 0.44rem;
            padding-left: 0.16rem;
            &.active {
              background: #950014;
              color: #fff;
            }
          }
        }
      }
    }
    .leaveI_remark {
      background: #fff;
      margin-top: 0.08rem;
      padding: 0.16rem 0.12rem;
      div {
        color: #000;
        font-size: 0.15rem;
        margin-bottom: 0.12rem;
      }
    }
  }
}
.qrCode_body {
  height: calc(100vh - 1rem);
  margin-top: 0.08rem;
  background: #fff;
  padding-top: 0.36rem;
  // font-weight: bold;
  .qrCode_status {
    color: #000;
    font-size: 0.21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.33rem;
    img {
      width: 0.32rem;
      height: 0.32rem;
      border-radius: 0.32rem;
      background: #59D676;
      border: none;
      margin-right: 0.08rem;
    }
  }
  .qrCode_desc {
    font-size: 0.12rem;
    color: #4a4d54;
    margin-bottom: 0.12rem;
    text-align: center;
  }
  .qrCode_img {
    img {
      width: 1.95rem;
      height: 1.95rem;
      border: 1px solid #E8EDF2;
      display: block;
      margin: auto;
      border-radius: 0.1rem;
    }
  }
}