<style lang="scss" scoped>
  @import 'About.scss';
</style>
<script>
import {smscode} from '/api/index.js';
export default {
  data () {
    return {
      phone: '',
      smsCode: '',
      language: 'zh',
    }
  },
  computed: {
    list: function () {
      return [
        { title: this.$t('about.one'), },
        { title: this.$t('about.two'), },
        { title: this.$t('about.three'), },
        { title: this.$t('about.four'), },
      ]
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale;
  },
  methods: {
    
    backPage () {
      this.$router.go(-1);
    },
  }
}
</script>

<template>
<div class="about">
  
  <mt-header :title="$t('nav.aboutus')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body about_body">
    <img src="/static/img/aboutImg.png" class="imgTop">
    <div style="padding: 0 0.12rem;">
      <div class="title">{{$t("about.title")}}</div>
      <div class="content" v-for="(item,i) in list" :key="i">
        {{item.title}}
      </div>
      <!-- <div class="content">
        每个人梦想的跑车都是不同的。这也就是为什么我们的金融服务并不是一成不变的，而是为我们客户的个人梦想量身定制的。
      </div>
      <div class="content">
        30 年前，保时捷金融服务创建之初，就以简单明了为前提。我们是一体化的金融服务提供商，也是保时捷股份有限公司 100% 所有的子公司。 每一个新产品，每一份贷款合同，以及每一项服务都蕴含着世界上成功的跑车制造商的 DNA。
      </div>
      <div class="content">
        我们为何会如此成功？因为我们一直聚焦于最重要的层面——也就是您。毋庸置疑，我们比任何人都了解我们客户的需求和期待。
      </div>
      <div class="content">
        这使得我们的一系列金融服务本身也成为经验，开放给所有我们的客户。和您的保时捷一起——但并不局限于此。驾驶一辆保时捷的梦想并没有停止的迹象。全世界都一样。我们在全世界16个国家提供金融服务，超过 10 万位客户赋予了我们信任——这个数字还在逐年增长。一旦你实现了驾驶一辆保时捷的梦想，你会想要一直走下去，追求你的下一个目标。
      </div> -->
    </div>
  </div>
</div>
</template>
