.about_body {
  background: #fff;
  color: #000000;
  font-size: 0.14rem;
  .imgTop {
    width: 100%;
    height: 1.46rem;
    display: block;
    background: #ddd;
  }
  .title {
    // font-weight: bold;
    font-size: 0.16rem;
    margin: 0.2rem 0 0.15rem;
  }
  .content {
    margin-bottom: 0.3rem;
  }
}