.return {
  width: 0.22rem;
  height: 0.22rem;
  margin-right: 0.12rem;
  vertical-align: middle;
}
.triangleIcon,.searchIcon {
  width: 0.16rem;
  height: 0.16rem;
  vertical-align: middle;
}
.location {
  background: #ddd;
  width: 0.16rem;
  height: 0.16rem;
}
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}
.more {
  width: 0.16rem;
  height: 0.16rem;
}
.ui_footerBtn {
  height: 0.5rem;
  width: 100%;
  line-height: 0.5rem;
  text-align: center;
  background: #950014;
  color: #fff;
  font-size: 0.15rem;
}
.ui_body {
  flex-grow: 1;
  overflow: scroll;
  height: calc(100% - 0.5rem);
}
.ui_clear {
  width: 0.16rem;
  height: 0.16rem;
}
.nullData {
  text-align: center;
  font-size: 0.16rem;
  color: #4A4D54;
  padding-top: 2rem;
  flex-grow: 1;
}
input::-webkit-input-placeholder {
  // color: red;
  font-size: 0.14rem;
}
input {
  font-size: 0.14rem;
}
.agreeIcon {
  width: 0.18rem;
  height: 0.18rem;
  margin-right: 0.1rem;
}