// 图片轮播
.mint-swipe-indicator {
  background: #fff;
  opacity: 0.7;
}
.mint-swipe-indicator.is-active {
  background: #fff;
  opacity: 1;
}
.mint-header {
  background: #fff;
  color: #000;
  font-size: 0.16rem;
  height: 0.5rem;
}
// 输入框
.mint-cell-wrapper {
  background-image: none;
}
.mint-field-core {
  font-size: 0.14rem;
}
.mintui-field-error:before {
  color: #000;
}
.mint-button {
  border-radius: 0;
  height: 0.44rem;
  background-color: #950014;
  font-size: 0.16rem;
}
// range滑竿
.mt-range {
  margin-left: 0.1rem;
  height: 0.2rem;
}
.mt-range-content {
  height: 0.2rem;
}
.mt-range-progress {
  height: 0.06rem!important;
}
.mt-range-runway,.mt-range-progress {
  border-top-width: 0.06rem!important;
  border-radius: 10px;
}
.mt-range-content {
  margin-right: 0.2rem;
}
.mt-range-thumb {
  background-color: #950014;
  width: 0.2rem;
  height: 0.2rem;
  top: 0;
  margin-left: -0.03rem;
}
.mt-range-progress {
  background-color: #950014;
}
.mt-range-runway {
  border-top-color: #333C43;
  right: -0.1rem;
}
// search搜索框
.mint-search {
  height: 0.32rem;
  .mint-searchbar {
    padding: 0;
    height: 100%;
    background: #F6F6F6;
    .mint-searchbar-inner {
      background: #f6f6f6;
      padding: 0;
      i {
        font-size: 0.14rem;
        margin: 0 0.13rem;
        color: #B5B4BA;
      }
      input {
        background: #f6f6f6;
      }
    }
  }
  .mint-search-list {
    display: none;
  }
}
.mint-radiolist {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  .mint-radiolist-title {
    margin: 0;
  }
  .mint-cell {
    margin-right: 0.4rem;
    min-height: 0.2rem;
    margin-bottom: 0.15rem;
    &:last-child {
      background-image: none;
    }
    .mint-cell-wrapper {
      padding: 0;
      font-size: 0.14rem;
      .mint-radiolist-label {
        padding: 0;
        .mint-radio-core {
          // width: 0.16rem;
          // height: 0.16rem;
          width: 16px;
          height: 16px;
          border: 1px solid #9f9f9f;
          &::after {
            // width: 0.08rem;
            // height: 0.08rem;
            // top: calc(50% - 0.04rem);
            // left: calc(50% - 0.04rem);
            width: 8px;
            height: 8px;
            top: 3px;
            left: 3px;
          }
        }
        .mint-radio-input:checked + .mint-radio-core {
          background-color: #fff;
          border-color: #53565D;
        }
        .mint-radio-input:checked + .mint-radio-core::after {
          background-color: #950014;
        }

        .mint-radio-label {
          margin-left: 0.06rem;
        }
      }
    }
  }
}
.mint-field{
  &.is-textarea {
    border: 1px solid #B5B4BA;
    textarea {
      font-size: 0.14rem;
    }
  }
}
a:hover {
  color: #000000;
}
.mint-loadmore-bottom {
  span {
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    vertical-align: middle;
    &.is-rotate {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}
.mint-header-title {
  overflow: inherit;
}
.mint-actionsheet {
  background: #f6f6f6;
  ul {
    margin-bottom: 0.1rem!important;
    li {
      border-bottom: 1px solid #DADADA;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.16rem;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .mint-actionsheet-button {
    font-size: 0.16rem;
  }
}
.mint-popup {
  width: 100%;
  &>div {
    width: 100%;
    text-align: center;
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 1px solid #DADADA;
    &:last-child {
      border-bottom: none;
    }
  }
}