<style lang="scss" scoped>
  @import 'HistoryAudit.scss';

</style>
<script>
import { setStore } from '/utils/storage.js'
import {smscode} from '/api/index.js';
export default {
  data () {
    return {
      phone: '',
      smsCode: '',
    }
  },
  mounted () {},
  created () {
    setStore("lastPage",window.location.hash);
  },
  methods: {
    
    backPage () {
      this.$router.go(-1);
    },
  }
}
</script>

<template>
<div class="HistoryAudit">
  <mt-header :title="$t('nav.auditrecords')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
</div>
</template>
