<style lang="scss" scoped>
  @import 'idcard.scss';
</style>
<script>
import { Toast } from 'mint-ui';
import { setStore } from '/utils/storage.js'
import { bankCardApi,bankSmsCode,validateBankSmsCode } from '/api/index.js';
export default {
  data () {
    return {
      step: 1,
      agreeRule: false,
      bankPhoto: '',
      bankFile: {},
      bankCardInfo: {},
      mobile: '',
      smsCode: '',
      hasGetSmscode: false,
      timing: false,
      timingNum: 60,
      timer: null,
    }
  },
  created () {
    setStore("lastPage",window.location.hash);
  },
  mounted () {
    window.addEventListener('blur', this.handleBlur);
  },
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    addImg(el){
      var file = el.target.files[0];
      var type = file.type.split('/')[0];
      this.bankCardInfo = {};
      // this.bankFile = file;
      if ( type === 'image' ){
        //将图片img转化为base64
        var reader = new FileReader();
        reader.readAsDataURL(file);
        var that = this;
        reader.onloadend = function () {
          that.bankPhoto = reader.result;
            let img = new Image();
            img.src = reader.result;
            img.onload = function () {
              let data = that.compress(img);
              var blob = that.dataURItoBlob(data);
              that.bankFile = new File([blob],'bankCard');
            }
        };
      }
    },
    // base64 转成blob对象
    dataURItoBlob (dataURI) {
      let byteString = window.atob(dataURI.split(',')[1]);
      let mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
      let T = mimeString.split('/')[1];
      let ab = new ArrayBuffer(byteString.length);
      let ia = new Uint8Array(ab);
      for (let i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
      }
      return new Blob([ab], {type: mimeString});
    },
    // 压缩图片
    compress(img) {
      let canvas = document.createElement("canvas");
      let ctx = canvas.getContext("2d");
      let initSize = img.src.length;
      let width = img.width/5;
      let height = img.height/5;
      canvas.width = width;
      canvas.height = height;
      // 铺底色
      ctx.fillStyle = "#fff";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.drawImage(img, 0, 0, width, height);
      //进行最小压缩
      let ndata = canvas.toDataURL("image/jpeg", 0.1);
      return ndata;
    },
    getSmscode () {
      window.scroll(0, 0);
      var reg = /^[1][3,4,5,7,8][0-9]{9}$/;
      if(this.mobile.length!=11 || !reg.test(this.mobile)) {
        this.errmsg = this.$t("common.tipstel");
        return false;
      }
      this.errmsg="";
      bankSmsCode({"mobile": this.mobile}).then(res => {
        Toast(this.$t("common.codesent"));
        this.hasGetSmscode = true;
        this.timing = true;
        this.timingFfn();
      })
    },
    nextStep () {
      if(JSON.stringify(this.bankCardInfo) == "{}") {
        var formFile = new FormData();
        formFile.append(`file`,this.bankFile)
        bankCardApi(formFile).then(res=> {
          console.log(res)
          this.bankCardInfo = res.data;
        })
      } else {
        var reg=11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
        if(!reg.test(this.mobile)) {
          Toast(this.$t("common.tipstel"));
          return false;
        }
        if(!this.agreeRule) {
          Toast({
            message: this.$t("pre.agreeAuthorize"),
            duration: 2000
          });
          return false;
        }
        var params = {
          "mobile": this.mobile,
          "smsCode": this.smsCode,
        }
        validateBankSmsCode(params).then(res => {
          console.log(res)
          this.$router.push({
            path: '/info'
          })
        })
      }
    },
    agreeFn () {
      this.agreeRule = !this.agreeRule;
    },
    timingFfn () {
      var that = this;
      this.timer = setInterval(function () {
        if(that.timingNum==1) {
          that.timing = false;
          that.timingNum = 60;
          clearInterval(that.timer);
          return false;
        }
        that.timingNum = that.timingNum - 1;
      }, 1000);
    },
    handleBlur () {
      window.scroll(0, 0);
    },
  },
}
</script>
<template>
<div class="applyInfo bankCard">
  <mt-header :title="$t('pre.identity')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="body ui_body">
    <div class="process">
      <div class="processBar">
        <div class="circle ing"></div>
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle"></div>
      </div>
      <div class="processText">
        <div class="ing">{{$t("pre.identity")}}</div>
        <div>{{$t("pre.infofill")}}</div>
        <div>{{$t("pre.result")}}</div>
      </div>
    </div>
    <!-- 银行卡照片 -->
    <div class="idCardBody">
      <div class="tit">{{$t("pre.uploadBankCard")}}</div>
      <div class="cardBox">
        <template v-if="bankPhoto==''">
          <div class="imgBox">
            <img src="/static/img/bank.png" class="background">
            <input type="file" accept="image/*" class="fileInput" @change="addImg($event,'frontPhoto')">
            <img src="/static/img/photo.png" class="photo">
          </div>
          <div class="">{{$t("pre.uploadBankCardBtn")}}</div>
        </template>
        <template v-if="bankPhoto!=''">
          <div class="imgBox">
            <img :src="bankPhoto" class="idCardPhoto">
          </div>
          <div class="reUpload">
            {{$t("pre.reload")}}
            <input type="file" accept="image/*" class="fileInput" @change="addImg($event,'frontPhoto')">
          </div>
        </template>
      </div>
    </div>
    <!-- 银行卡信息 -->
    <div class="idCardInfo" v-if="JSON.stringify(bankCardInfo) != '{}'">
      <ul>
        <li style="border-bottom: none;">{{$t("pre.bankCardNo")}}： <span>{{bankCardInfo.bankCardNum}}</span></li>
        <li style="border-bottom: none;">{{$t("pre.bankCardTel")}}： </li>
        <li>
          <input v-model="mobile" :placeholder="$t('placeholder.enterphone')" type="tel" max="11" class="textInput">
        </li>
        <li>
          <input :placeholder="$t('placeholder.entercode')" style="border-right: none;" type="tel" v-model="smsCode" class="textInput">
          <div class="getCode" v-if="!timing" @click="getSmscode">{{hasGetSmscode ? $t("login.again") : $t("login.verificode")}}</div>
          <!-- <div class="smsCode" v-if="!timing" @click="getSmscode">{{hasGetSmscode ? $t("login.again") : $t("login.verificode")}}</div> -->
          <div class="getCode" v-if="timing">{{timingNum}} s</div>
        </li>
        <li @click="agreeFn" style="align-items: flex-start;">
          <img src="/static/img/noAgree.png" class="agreeIcon" v-if="!agreeRule">
          <img src="/static/img/agree.png" class="agreeIcon" v-if="agreeRule">
          <div style="text-align: left;flex-grow: 1;color: #333;width:calc(100% - 0.5rem);">{{$t("pre.agreeRule")}} </div>
        </li>
        <li style="color: #9B9B9B;line-height: 0.18rem;margin-top: -0.1rem;">{{$t("pre.agreetips")}}
        </li>
      </ul>
    </div>
  </div>
  <div class="footerBtn">
    <div v-if="bankPhoto!=''" style="background: #950014;" @click="nextStep">{{$t("pre.nextStep")}}</div>
    <div v-else style="background: #737278;">{{$t("pre.nextStep")}}</div>
  </div>
</div>
</template>
