<style lang="scss" scoped>
  @import 'idcard.scss';
</style>
<script>
import {Toast} from 'mint-ui';
import { setStore } from '/utils/storage.js'
import {idCardAllApi} from '/api/index.js';
export default {
  data () {
    return {
      step: 1,
      sheetVisible: false,
      frontPhoto: '',
      backPhoto: '',
      frontFile: {},
      backFile: {},
      userInfo: {},
    }
  },
  created () {
    setStore("lastPage",window.location.hash);
  },
  mounted () {},
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    showSheet () {
      this.sheetVisible = !this.sheetVisible;
    },
    addImg(el,typeSource){
      this[typeSource] = "";
      this.userInfo = {};
      var file = el.target.files[0];
      var type = file.type.split('/')[0];
      // alert(file.size)
      if ( type === 'image' ){
          //将图片img转化为base64
          var reader = new FileReader();
          reader.readAsDataURL(file);
          var that = this;
          reader.onloadend = function () {
            that[typeSource] = reader.result; // 显示
            let img = new Image();
            img.src = reader.result;
            img.onload = function () {
              let data = that.compress(img);
              var blob = that.dataURItoBlob(data);
              var typeIndex = file.name.lastIndexOf(".");
              var typeName = file.name.substring(typeIndex+1,file.name.length); // 文件后缀
              // 提交文件
              if(typeSource == 'frontPhoto') {
                that.frontFile = new File([blob ], "face"+"."+typeName);
                // alert(that.frontFile.size)
              }else {
                that.backFile = file;
                that.backFile = new File([blob ], "back"+"."+typeName);
              }
            }
          };
      }
    },
    // base64 转成blob对象
    dataURItoBlob (dataURI) {
      let byteString = window.atob(dataURI.split(',')[1]);
      let mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
      let T = mimeString.split('/')[1];
      let ab = new ArrayBuffer(byteString.length);
      let ia = new Uint8Array(ab);
      for (let i = 0; i < byteString.length; i++) {
          ia[i] = byteString.charCodeAt(i);
      }
      return new Blob([ab], {type: mimeString});
    },
    // 压缩图片
    compress(img) {
      let canvas = document.createElement("canvas");
      let ctx = canvas.getContext("2d");
      let initSize = img.src.length;
      let width = img.width/5;
      let height = img.height/5;
      canvas.width = width;
      canvas.height = height;
      // 铺底色
      ctx.fillStyle = "#fff";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
      ctx.drawImage(img, 0, 0, width, height);
      //进行最小压缩
      let ndata = canvas.toDataURL("image/jpeg", 0.1);
      return ndata;
    },
    nextStep () {
      if(this.frontPhoto != "" && this.backPhoto !="") {
        if(JSON.stringify(this.userInfo) == "{}") {
          var formFile = new FormData();
          formFile.append(`files`,this.frontFile)
          formFile.append(`files`,this.backFile)
          idCardAllApi(formFile).then(res=> {
            console.log(res)
            this.userInfo = res.data;
          })
        } else {
          this.$router.push({
            path: '/bankcard'
          })
        }
      }
    },
  },
}
</script>

<template>
<div class="applyInfo idCard">
  <mt-header :title="$t('pre.identity')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="body ui_body">
    <div class="process">
      <div class="processBar">
        <div class="circle ing"></div>
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
        <div class="circle"></div>
      </div>
      <div class="processText">
        <div class="ing">{{$t("pre.identity")}}</div>
        <div>{{$t("pre.infofill")}}</div>
        <div>{{$t("pre.result")}}</div>
      </div>
    </div>
    <!-- 身份证照片 -->
    <div class="idCardBody">
      <div class="tit">{{$t("pre.uploadIdCard")}}</div>
      <div class="cardBox">
        <template v-if="frontPhoto==''">
          <div class="imgBox" @click="showSheet">
            <img src="/static/img/idcardF.png" class="background">
            <input type="file" accept="image/*" class="fileInput" @change="addImg($event,'frontPhoto')">
            <img src="/static/img/photo.png" class="photo">
          </div>
          <div class="">{{$t("pre.uploadIdCardHead")}}</div>
        </template>
        <template v-if="frontPhoto!=''">
          <div class="imgBox">
            <img :src="frontPhoto" class="idCardPhoto">
          </div>
          <div class="reUpload">
            {{$t("pre.reload")}}
            <input type="file" accept="image/*" class="fileInput" @change="addImg($event,'frontPhoto')">
          </div>
        </template>
      </div>
      <div class="cardBox">
        
        <template v-if="backPhoto==''">
          <div class="imgBox">
            <img src="/static/img/idcardB.png" class="background">
            <input type="file" accept="image/*" class="fileInput" @change="addImg($event,'backPhoto')">
            <img src="/static/img/photo.png" class="photo">
          </div>
          <div class="">{{$t("pre.uploadIdCardNational")}}</div>
        </template>
        <template v-if="backPhoto!=''">
          <div class="imgBox">
            <img :src="backPhoto" class="idCardPhoto">
          </div>
          <div class="reUpload">
             {{$t("pre.reload")}}
            <input type="file" accept="image/*" class="fileInput" @change="addImg($event,'backPhoto')">
          </div>
        </template>
      </div>
    </div>
    <!-- 身份证信息 -->
    <div class="idCardInfo" v-if="JSON.stringify(userInfo) != '{}'">
      <div class="tit">{{$t("pre.confirmInfo")}}</div>
      <ul>
        <li>{{$t("pre.name")}} <span>{{userInfo.name}}</span></li>
        <li>{{$t("pre.idcardNo")}} <span>{{userInfo.idNum}}</span></li>
        <li>{{$t("pre.idcardValid")}} <span>{{userInfo.validTo}}</span></li>
      </ul>
    </div>
  </div>
  <div class="footerBtn">
    <div v-if="frontPhoto!='' && backPhoto != ''" style="background: #950014;" @click="nextStep">{{$t("pre.nextStep")}}</div>
    <div v-else style="background: #737278;">{{$t("pre.nextStep")}}</div>
  </div>
</div>
</template>
