.applyInfo {
  .body {
    height: calc(100% - 1rem);
    .process {
      height: 0.9rem;
      margin: 0.08rem 0;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.1rem;
      color: #999999;
      .processBar {
        display: flex;
        align-items: center;
        .circle {
          width: 0.2rem;
          height: 0.2rem;
          border-radius: 0.2rem;
          background: #F2F2F2;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          &.ing::after {
            content: "";
            width: 0.1rem;
            height: 0.1rem;
            border-radius: 0.1rem;
            background: #950014;
          }
        }
        .line {
          height: 2px;
          border-top: 2px solid #F2F2F2;
          width: 0.63rem;
          margin: 0 0.1rem;
          &.ing {
            border-top: 2px solid #950014;
          }
        }
      }
      .processText {
        margin-top: 0.08rem;
        width: 3.09rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        div {
          width: 1.03rem;
          text-align: center;
          &.ing {
            color: #000;
          }
        }
      }
    }
    .idCardBody {
      background: #fff;
      padding: 0.175rem 0.38rem 0.26rem;
      .tit {
        margin-bottom: 0.12rem;
        text-align: right;
      }
      .cardBox {
        width: 100%;
        height: 1.86rem;
        border: 1px dashed #8290A3;
        margin-bottom: 0.15rem;
        border-radius: 0.05rem;
        text-align: center;
        color: #000000;
        .imgBox {
          width: 2.12rem;
          height: 1.34rem;
          margin: 0.16rem auto 0.06rem;
          position: relative;
          // background: red;
          .background {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
          }
          .photo {
            width: 0.5rem;
            height: 0.5rem;
            background: #950014;
            border-radius: 0.5rem;
            border: none;
            margin-top: 0.42rem;
            position: relative;
            z-index: 2;
          }
          .idCardPhoto {
            width: 100%;
            height: 100%;
          }
        }
        .reUpload {
          color: #950014;
          position: relative;
        }
      }
    }
  }
  .footerBtn {
    height: 0.5rem;
    color: #fff;
    font-size: 0.15rem;
    text-align: center;
    line-height: 0.5rem;
  }
}
.idCard {
  .idCardInfo {
    background: #fff;
    border-top: 1px solid #DADADA;
    padding: 0 0.16rem 0.23rem;
    .tit {
      padding: 0.15rem 0 0.09rem;
      color: #9B9B9B;
      font-size: 0.13rem;
    }
    ul {
      li {
        color: #737278;
        height: 0.45rem;
        line-height: 0.45rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #D9D9D9;
        span {
          color: #333333;
        }
      }
    }
  }
}
.bankCard {
  .idCardInfo {
    background: #fff;
    border-top: 1px solid #DADADA;
    padding: 0.17rem 0.16rem 0;
    li {
      line-height: 1;
      margin-bottom: 0.16rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .getCode {
        width: 0.83rem;
        background: #000000;
        color: #fff;
        text-align: center;
        height: 0.44rem;
        line-height: 0.44rem;
        font-size: 0.12rem;
      }
    }
  }
  .textInput {
    width: 100%;
    height: 0.44rem;
    border: 1px solid #B5B4BA;
    padding-left: 0.12rem;
    border-radius: 0;
  }
}
.info {
  .infolist {
    background: #fff;
    padding: 0 0.14rem 0.11rem;
    margin-bottom: 0.08rem;
    ul {
      li {
        height: 0.44rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000;
        font-size: 0.14rem;
        &:not(:last-child) {
          border-bottom: 1px solid #D9D9D9;
        }
        span {
          color: #333;
          flex-grow: 1;
          text-align: right;
        }
        input {
          flex-grow: 1;
          text-align: right;
        }
        img {
          width: 0.14rem;
          height: 0.14rem;
        }
        
      }
    }
  }
  .testD_dealer {
    background: #fff;
    position: relative;
    .dealer_city {
      border-bottom: 1px solid #E6E6E6;
      height: 0.44rem;
      line-height: 0.44rem;
      padding-left: 0.12rem;
    }
    .dealer_body {
      padding: 0.15rem 0.12rem;
    }
  }
}
.fileInput {
  position: absolute;
  left: calc(50% - 3.5em);
  top: 0;
  width: 7em;
  height: 100%;
  opacity: 0;
  z-index: 3;
}
.result {
  .body {
    // display: flex;
    // flex-direction: column;
  }
  .resultInfo {
    margin-top: 0.08rem;
    background: #fff;
    // flex-grow: 1;
    .status {
      text-align: center;
      margin-bottom: 0.3rem;
      padding-top: 0.24rem;
      .suc {
        width: 0.5rem;
        height: 0.5rem;
      }
      .result {
        font-size: 0.16rem;
        color: #000;
        line-height: 1;
        margin-top: 0.15rem;
      }
      .time {
        font-size: 0.14rem;
        color: #9B9B9B;
      }
    }
    .tips {
      color: #B5B4BA;
      font-size: 0.12rem;
      text-align: center;
      padding-top: 0.14rem;
      border-top: 1px solid #E6E6E6;
    }
    .condition {
      color: #000;
      font-size: 0.13rem;
      padding: 0 0.2rem 0.5rem;
      margin-top: 1rem;
      ul {
        margin-left: 0.15rem;
        li {
          color: #333;
          list-style: disc;
          line-height: 1;
          margin-top: 0.05rem;
          font-size: 0.14rem;
        }
      }
    }
  }
}