<style lang="scss" scoped>
  @import '../../Dealer/Dealer.scss';
  @import '../../TestDrive/TestDrive.scss';
  @import 'idcard.scss';
  
</style>
<script>
import { Indicator,Toast } from 'mint-ui';
import { getStore,setStore } from '/utils/storage.js'
import { submitLead,dealerLocation,dealerDistance,getAllProvinceCity } from '/api/index.js';
export default {
  data () {
    return {
      language: "",
      step: 2,
      listDealer: [],     // 经销商列表
      requestType: 0,     // 当前经销商查询方式： 0 -> 经纬度;    1 -> 城市code查询;   2 -> 经销商名称查询 
      dealerInfo: {},     // 选择的经销商信息
      provinceList: {},   // 省份列表
      cityList: {},       // 省对应市列表
      locationCity: '',
      dealerIsNull: false,  // 经销商数据为空
      
      position: {},       // 数据提交的经纬度
      location: {},       // 定位获取到经纬度信息
      carInfo: {},
      agreeRule: false,
      showCityList: false,
      cityName: '',
      provinceIndex: -1,  // 选择的省份index  ** 用来做当前选中省份的判断
      cityIndex: -1,      // 选择的城市index  ** 用来做当前选中城市的判断
      areaCode: '310100',       // 选中的城市code
      qrCode: '',

      sheetVisible: false,
      actions: [],
      curType: '',
      dealerId: '',
      marital: '',
      edu: '',
      pay: '',
      time: '',
      workAdr: '',
      liveAdr: '',
    }
  },
  created () {
    setStore("lastPage",window.location.hash);
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase()); 

    this.init();
    this.getAllProvinceCity();
    Indicator.open({
      spinnerType: 'fading-circle'
    });
  },
  mounted () {
    window.addEventListener('blur', this.handleBlur);
  },
  methods: {
    init () {
      var that = this;
      var div=document.createElement("div");//创建一个DIV
      div.id = "container";
      document.body.appendChild(div); 
      var map = new AMap.Map('container', {
        resizeEnable: true
      });

      AMap.plugin('AMap.Geolocation', function() {
        var geolocation = new AMap.Geolocation({
        enableHighAccuracy: false,//是否使用高精度定位，默认:true
          timeout: 1000,
          showButton: false,    
          zoomToAccuracy: false, 
          showMarker: false,
          showCircle: false,
          panToLocation: false,
          zoomToAccuracy:false 
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition(function(status,result){
          if(status == "error") {
            that.requestType = 1;
          } else {
            that.location = result;
            that.position = result.position;
            that.requestType = 0; //当前请求方式 ： 经纬度请求
            setStore('location',that.location);
          }
          that.provinceIndex = -1;  // 清空当前选择的省份
          that.cityIndex = -1;  // 清空当前选择的城市
          that.current = 1;
          that.listDealer = [];
          that.showCityList = false;  // 关闭城市列表
          that.getDealer();
        });
      });
      this.carInfo = JSON.parse(getStore("testDriveInfo"));
    },
    // 获取城市列表
    getAllProvinceCity () {
      getAllProvinceCity().then(res => {
        this.provinceList = res.data;
        this.cityList = res.data[0].listChildArea;  // 默认展示第一个省份的城市
        if (JSON.stringify(this.location) == "{}") {
          Indicator.open({
            spinnerType: 'fading-circle'
          });
        }
      })
    },
    chooseProvince (i) {
      this.provinceIndex = i;
      this.cityIndex = -1;
      this.cityList = this.provinceList[i].listChildArea;
    },
    chooseCity (i,item) {
      this.listDealer = [];
      this.cityIndex = i;
      this.showCityList = false;
      this.cityName = item["name" + this.language];
      this.areaCode = item.code;
      this.requestType = 1;
      this.getDealer();
    },
    // 重新定位
    resetPosition () {
      this.init();
    },
    // 打开城市列表
    openCityList () {
      this.showCityList = !this.showCityList;  
    },
    // 选择经销商
    chooseDealer (item) {
      this.dealerInfo = item;
      this.dealerId = item.id;
      this.showCityList = false;
    },
    // 获取经销商列表
    getDealer () {
      var obj = {};
      if(this.requestType == 0) {
        obj = {
          lat: this.location.position.lat.toString(),
          lng: this.location.position.lng.toString(),
          type: 0
        };
      } else if (this.requestType == 1) {
        obj = {
          type: 1,
          areaCode: this.areaCode,
        };
      } else if (this.requestType == 2) {
        obj = {
          dealerName: this.value,
        }
      }
      var params = {
        size: 50,
        current: 1,
      }
      var prevData = this.listDealer;
      dealerDistance(Object.assign(params,obj)).then(res => {
        if(!res.data.hasOwnProperty("listDealer") || res.data.listDealer.records.length == 0) {
          this.dealerIsNull = true;
        } else {
          this.dealerIsNull = false;
        }
        if (obj.type == 0) {
          this.locationCity = res.data.areaInfo["name" + this.language];
        }
        this.cityName = res.data.areaInfo["name" + this.language];
        this.listDealer = res.data.listDealer.records;
        this.listDealerLen = res.data.listDealer.records.length;
        if(res.data.listDealer.pages == 0 || res.data.listDealer.current == res.data.listDealer.pages) {
          this.allLoaded = true;
          return false;
        }
        this.allLoaded = false;
      })
    },
    backPage () {
      this.$router.go(-1);
    },
    sheetVisibleFn (type) {
      this.handleBlur();
      this.curType = type;
      if(type == "marital") {
        this.actions = [
          {name: this.$t("pre.married"),method: this.maritalStatusFn},
          {name: this.$t("pre.unMarried"),method: this.maritalStatusFn}
        ]
        this.sheetVisible = true;
      } else if(type == 'edu') {
        this.actions = [
          {name: this.$t("pre.collegeOrBelow"),method: this.maritalStatusFn},
          {name: this.$t("pre.college"),method: this.maritalStatusFn},
          {name: this.$t("pre.bachelor"),method: this.maritalStatusFn},
          {name: this.$t("pre.master"),method: this.maritalStatusFn},
          {name: this.$t("pre.doctor"),method: this.maritalStatusFn},
        ]
        this.sheetVisible = true;
      } else if (type == 'address') {
        this.actions = [];
        
      } else if (type == 'workArs') {
        this.actions = [];
      } else if (type == 'pay') {
        this.actions = [
          {name: this.$t("pre.lessThanFive"),method: this.maritalStatusFn},
          {name: this.$t("pre.fiveToTen"),method: this.maritalStatusFn},
          {name: this.$t("pre.TenToTwenty"),method: this.maritalStatusFn},
          {name: this.$t("pre.TwentyToForty"),method: this.maritalStatusFn},
          {name: this.$t("pre.moreThanForty"),method: this.maritalStatusFn},
        ]
        this.sheetVisible = true;
      } else if (type == 'time') {
        this.actions = [
          {name: this.$t("pre.lessThan2Yrs"),method: this.maritalStatusFn},
          {name: this.$t("pre.twoToFiveYrs"),method: this.maritalStatusFn},
          {name: this.$t("pre.FiveToTenYrs"),method: this.maritalStatusFn},
          {name: this.$t("pre.tenToTwentyYrs"),method: this.maritalStatusFn},
          {name: this.$t("pre.moreThanTwenty"),method: this.maritalStatusFn},
        ]
        this.sheetVisible = true;
      }
    },
    maritalStatusFn (val){
      this[this.curType] = val.name;
    },
    nextStep () {
      this.handleBlur();
      var params = {
        marital: this.marital,
        edu: this.edu,
        pay: this.pay,
        time: this.time,
        workAdr: this.workAdr,
        liveAdr: this.liveAdr,
      }
      
      var nullNum = 0;
      Object.keys(params).forEach(function(key){
        if (params[key]=="") {
          nullNum++;
        }
      });
      if(nullNum > 0) {
        Toast({
          message: this.$t("common.allinfotips"),
          duration: 1000,
        });
        return false;
      }
      if(this.dealerId == "") {
        Toast({
          message: this.$t("common.tipsdealer"),
          duration: 1000,
        })
        return false;
      }
      var that = this;
      Indicator.open({
        spinnerType: 'fading-circle'
      });
      setTimeout(function (){
        Indicator.close();
        that.$router.push({
          path: '/aresult'
        })
      },1000)
    },
    handleBlur () {
      window.scroll(0, 0);
    },

  },
}
</script>
<template>
<div class="applyInfo info">
  <mt-header :title="$t('pre.infofill')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  
  <div class="body ui_body">
    <div class="process">
      <div class="processBar">
        <div class="circle ing"></div>
        <div class="line ing"></div>
        <div class="circle ing"></div>
        <div class="line"></div>
        <div class="circle"></div>
      </div>
      <div class="processText">
        <div class="ing">{{$t("pre.identity")}}</div>
        <div class="ing">{{$t("pre.infofill")}}</div>
        <div>{{$t("pre.result")}}</div>
      </div>
    </div>
    <div class="infolist">
      <ul>
        <li @click="sheetVisibleFn('marital')">{{$t("pre.marriageStatus")}}  <span>{{marital}}</span> <img src="/static/img/right.png"></li>
        <li @click="sheetVisibleFn('edu')">{{$t("pre.eduBack")}}  <span>{{edu}}</span> <img src="/static/img/right.png"></li>
        <li @click="sheetVisibleFn('address')">{{$t("pre.presentAdr")}}  <input type="text" v-model="workAdr" :placeholder="$t('placeholder.enter2')"></li>
        <li @click="sheetVisibleFn('workArs')">{{$t("pre.workAdr")}}  <input type="text" v-model="liveAdr" :placeholder="$t('placeholder.enter2')"></li>
        <li @click="sheetVisibleFn('pay')">{{$t("pre.monthlyIncome")}}  <span>{{pay}}</span> <img src="/static/img/right.png"></li>
        <li @click="sheetVisibleFn('time')">{{$t("pre.workingYears")}}  <span>{{time}}</span> <img src="/static/img/right.png"></li>
      </ul>
    </div>
    
    <div class="testD_dealer">
      <div class="dealer_city" @click="openCityList">
        {{cityName}}
        <img src="/static/img/triangle.png" class="triangleIcon">
      </div>
      <div class="dealer_body">
        <div class="dealer_list"  v-for="(item,i) in listDealer" :key="i" @click="chooseDealer(item)" :style="{'border-color': item.id == dealerInfo.id ? '#D5001C' : '#D3D7DB'}">
          <!-- <img src="/static/img/borAct.png" class="active" v-if="item.id == dealerInfo.id"> -->
          <img src="/static/img/listAct.png" style="width: 0.3rem;height: 0.3rem;left: auto;top:auto;" class="active" v-if="item.id == dealerInfo.id">
          
          <div class="dealer_listTit">{{item["name" + language]}}</div>
          <div class="dealer_listTel">{{$t("common.tel")}}：{{item.telphone}}</div>
          <div class="dealer_listAdr">
            <span style="line-height: 1.2;">{{item["address" + language]}}</span>
            <span>{{item.distance/1000 | Fixed}}km</span>
          </div>
        </div>
      </div>
      <div class="dealer_no" v-if="dealerIsNull">
        <img src="/static/img/noData.png">
        <div>该城市暂无该车型经销商</div>
      </div>
      <div class="cityBack" v-if="showCityList">
        <div class="cityBody">
          <div class="cityBodyTop">
            <div style="flex-grow: 1;">
              <img src="/static/img/location.png" class="location">
              <span class="cityCur">{{locationCity}}</span>
              <span style="font-size: 0.12rem; color: #84868C;margin-top: 0.04rem;">{{$t("dealer.currentlt")}}</span>
            </div>
            <div @click="resetPosition" style="font-size: 0.12rem; color: #000;">{{$t("dealer.refreshlt")}}</div>
          </div>
          <div class="cityCon">
            <ul class="city_province">
              <li :class="[provinceIndex == i ? 'active' : '']" v-for="(item,i) in provinceList" :key="i" @click="chooseProvince(i)">{{item["name" + language]}}</li>
            </ul>
            <ul class="city_city">
              <li :class="[cityIndex == i ? 'active' : '']" v-for="(item,i) in cityList" :key="i" @click="chooseCity(i,item)">{{item["name" + language]}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerBtn">
    <div v-if="false" style="background: #737278;">{{$t("pre.nextStep")}}</div>
    <div style="background: #950014;" @click="nextStep">{{$t("pre.nextStep")}}</div>
  </div>

  <mt-actionsheet
    :actions="actions"
    :cancelText="$t('common.cancel')"
    v-model="sheetVisible">
  </mt-actionsheet>
  
</div>
</template>
