<style lang="scss" scoped>
  @import 'idcard.scss';
</style>
<script>
import { setStore } from '/utils/storage.js'
export default {
  data() {
    return {

    }
  },
  created () {
    setStore("lastPage",window.location.hash);
  },
  mounted () {},
  methods: {
    toHome () {
      window.location.replace("/");
    },
    backPage () {
      this.$router.go(-1);
    },
  }
}
</script>
<template>
<div class="applyInfo result">
  <mt-header :title="$t('pre.result')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body body">
    <div class="process">
      <div class="processBar">
        <div class="circle ing"></div>
        <div class="line ing"></div>
        <div class="circle ing"></div>
        <div class="line ing"></div>
        <div class="circle ing"></div>
      </div>
      <div class="processText">
        <div class="ing">{{$t("pre.identity")}}</div>
        <div class="ing">{{$t("pre.infofill")}}</div>
        <div class="ing">{{$t("pre.result")}}</div>
      </div>
    </div>
    <div class="resultInfo">
      <div class="status">
        <img src="/static/img/scc.png" class="suc">
        <div class="result">{{$t("pre.receive")}}</div>
        <div class="time">{{$t("pre.validDays")}}</div>
      </div>
      <div class="tips">{{$t("pre.resultTips")}}</div>
      <div class="condition">
        <div>{{$t("pre.resultNote")}}</div>
        <ul>
          <li>{{$t("pre.resultNote1")}}</li>
          <li>{{$t("pre.resultNote2")}}</li>
          <li>{{$t("pre.resultNote3")}}</li>
          <li>{{$t("pre.resultNote4")}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerBtn">
    <div style="background: #950014;" @click="toHome">{{$t("pre.toHome")}}</div>
  </div>
</div>
</template>
