
.sheet {
  z-index: 2013;
  color: #333;
  background: #f6f6f6;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  ul {
    li {
      border-bottom: 1px solid #DADADA;
      height: 0.5rem;
      line-height: 0.5rem;
      font-size: 0.16rem;
      width: 100%;
      background: #fff;
      &:nth-child(2){
        border-bottom: none;
        margin-bottom: 0.1rem;
      }
      position: relative;
      input {
        position: absolute;
        left: calc(50% - 3.5em);
        display: block;
        width: 7em;
        height: 100%;
        opacity: 0;
      }
    }
  }
}
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}