<style lang="scss" scoped>
  @import 'Center.scss';
</style>
<script>
import { getStore,setStore } from '/utils/storage.js'
import { getUserInfo,updateUserInfo,loginOut} from '/api/index.js';
export default {
  data () {
    return {
      language: 'zh',
      showGender: false,
      info: {},
      memberId: '',
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    setStore("lastPage",window.location.hash);
    this.memberId = getStore("userInfo")!=null && getStore("userInfo") != "" ? JSON.parse(getStore("userInfo")).id : ""
    var obj = {
      umsMemberId: this.memberId,
    }
    getUserInfo().then(res => {
      this.info = res.data;
      setStore('userInfo', res.data)
    })
  },
  methods: {
    editName () {
      this.$router.push({
        path: '/editName',
        query: {
          name: this.info.username
        }
      })
    },
    backPage () {
      this.$router.go(-1);
    },
    chooseGender (id) {
      var obj = {
        id: this.memberId,
        gender: id
      }
      updateUserInfo(obj).then(res => {
        this.showGender = !this.showGender;
        this.info.gender = id;
        setStore('userInfo', this.info)
      })
    },
    editCar () {
      this.$router.push({
        path: '/editCar',
      })
    },
    showGenderFn () {
      this.showGender = !this.showGender;
    },
    loginOutFn () {
      loginOut({token: JSON.parse(getStore("userInfo")).token}).then(res => {
        top.location.href='#/'
        setStore("hasLogin", false);
        // window.location.href = '#/';
      })
    }
  }
}
</script>

<template>
<div class="center">
  <mt-header :title="$t('nav.account')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body" style="height: calc(100% - 0.5rem);">
    <ul class="center_info">
      <li>
        <span>{{$t('center.name')}}</span>
        <div @click="editName">
          <span>{{info.username}}</span>
          <img src="/static/img/more.png" class="more">
        </div>
      </li>
      <li>
        <span>{{$t('center.gender')}}</span>
        <div @click="showGenderFn">
          <span v-if="info.gender == 0">{{$t('common.mr')}}</span>
          <span v-if="info.gender == 1">{{$t('common.ms')}}</span>
          <span v-if="info.gender == 2">{{$t('common.na')}}</span>
          <img src="/static/img/more.png" class="more">
        </div>
      </li>
      <li>
        <span>{{$t('center.cellphone')}}</span>
        <span style="padding-right: 0.16rem;">{{info.mobile}}</span>
      </li>
    </ul>
    <ul class="center_info">
      <li>
        <span>{{$t('center.favoritemodel')}}</span>
        <div @click="editCar">
          <span>{{info["carModelName" + language]}}</span>
          <img src="/static/img/more.png" class="more">
        </div>
      </li>
    </ul>
    <div class="center_loginOut" @click="loginOutFn">
      {{$t("common.logout")}}
    </div>
    <div class="editGender" v-if="showGender">
      <div class="shadow" @click="showGenderFn"></div>
      <ul class="option">
        <li @click="chooseGender(0)">{{$t('common.male')}}</li>
        <li @click="chooseGender(1)">{{$t('common.female')}}</li>
        <li @click="showGenderFn">{{$t("common.cancel")}}</li>
      </ul>
    </div>
  </div>
</div>
</template>
