.center {
  background: #FAFAFA;
  .center_info  {
    background: #fff;
    margin: 0.08rem 0;
    padding-left: 0.16rem;
    li {
      height: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #E6E6E6;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 0.5rem;
      }
      span {
        &:nth-child(2) {
          flex-grow: 1;
          text-align: right;
        }
      }
      img {
        margin: 0 0.16rem 0 0.12rem;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .center_loginOut {
    background: #950014;
    color: #fff;
    font-size: 0.16rem;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    width: 3.51rem;
    margin: 0.36rem auto;
  }
  .editGender {
    // position: fixed;
    // width: 100vw;
    // height: 100vh;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shadow {
      width: 100%;
      flex-grow: 1;
      background: rgba(0,0,0,0.5);
    }
    .option {
      background: #F6F6F6;
      color: #333333;
      font-size: 0.16rem;
      width: 100%;
      li {
        height: 0.5rem;
        line-height: 0.5rem;
        text-align: center;
        background: #fff;
        &:first-child {
          border-bottom: 1px solid #DADADA;
        }
        &:last-child {
          margin-top: 0.08rem;
        }
      }
    }
  }
}