<style lang="scss" scoped>
  @import 'detail.scss';
  @import '../History.scss';

</style>
<script>
import { setStore } from '/utils/storage.js'
import { getLeadDetail,getMonthCost } from '/api/index.js';
export default {
  data () {
    return {
      language: 'zh',
      type: '',
      info: {},
      monthly: [],
      monthlyData: '',
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    setStore("lastPage",window.location.hash);
    this.type = this.$route.query.type;
    getLeadDetail({'leadId': this.$route.query.leadId}).then(res => {
      this.info = res.data;
      this.init();
    })
    
  },
  methods: {
    init () {
      getMonthCost({typeName: 'expected_monthly_installment'}).then(res=> {
        res.data.forEach(item => {
          var obj = {};
          obj.value = (item.id).toString();
          obj.label = item.value;
          this.monthly.push(obj);
          if(item.id = this.info.expectedMonthlyInstallment) {
            this.monthlyData = item["label" + this.language];
            console.log(this.monthlyData)
          }
        })
      })
    },
    backPage () {
      this.$router.go(-1);
    },
  }
}
</script>

<template>
<div class="History">
  <mt-header :title="$t('history.detail')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body detailBody">
    <div class="history_list">
      <div class="title">
        <span>{{info["dealerName" + language]}}</span>
        <!-- <span style="font-weight: bold;" :style="{'color': info.type == 0 ? '#336699' : '#D5001C'}">{{info.type==0 ? '预约试驾' : '在线留资'}}</span> -->
        <span :style="{'color': info.type == 0 ? '#336699' : '#D5001C'}">{{info.type==0 ? $t('calculator.testdrive') : $t('nav.leaveinfo')}}</span>
      </div>
      <div class="address" style="color: #333333;">{{$t("common.tel")}}：+86 {{info.dealerTelPhone}}</div>
      <div class="time">
        <div style="color: #999;">{{info["dealerAddr" + language]}}</div>
      </div>
    </div>
    <ul class="liCon">
      <li>{{$t("center.name")}} <span>{{info.customerName}}</span></li>
      <li>{{$t("common.gendertit")}}
        <span v-if="info.gender == 0">{{$t("common.mr")}}</span>
        <span v-if="info.gender == 1">{{$t("common.ms")}}</span>
        <span v-if="info.gender == 2">{{$t("common.na")}}</span>
      </li>
      <li>{{$t("history.cellphone")}} <span>{{info.mobile}}</span></li>
      <li>{{$t("leaveinfo.carseries")}} <span>{{info["carSeriesName" + language]}}</span></li>
      <li>{{$t("leaveinfo.carmodelinfo")}} <span>{{info["carModelName" + language]}}</span></li>
    </ul>
    <!-- 月供金额 -->
    <ul class="liCon">
      <li>{{$t("calculator.monthlypay")}}
        <span v-if="info.type==1">{{monthlyData}}</span>
        <span v-else>{{info.monthlyInstallment | NumFormat}}</span>
      </li>
      <!-- <li>留资时间 <span>{{info.createTime.substring(0,10)}}</span></li> -->
    </ul>
    <!-- 备注 -->
    <ul class="remark">
      <li>{{$t("common.remark")}}</li>
      <li>{{info.remark}}</li>
    </ul>
    <div class="qrCode">
      <div>{{$t("common.showqrcode")}}</div>
      <img :src="info.qrcode" alt="">
    </div>

  </div>
</div>
</template>
