.detailBody {
  background: transparent!important;
  padding: 0!important;
  height: calc(100% - 0.5rem);
  .history_list {
    border: none!important;
    height: 0.96rem!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 0.16rem;
    margin: 0.08rem 0;
    div {
      line-height: 1;
    }
    .title {
      font-size: 0.14rem;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.12rem 0;
      // font-weight: bold;
      span {
        &:last-child {
          font-size: 0.12rem;
          font-weight: normal;
        }
      }
    }
    .time {
      color: #B5B4BA;
      display: flex;
      justify-content: space-between;
      padding: 0.12rem 0;
    }
  }
  .liCon {
    background: #fff;
    padding: 0 0.12rem;
    margin-bottom: 0.08rem;
    li {
      height: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #E6E6E6;
      color: #000000;
      // font-weight: bold;
      font-size: 0.15rem;
      &:last-child {
        border-bottom: none;
      }
      span {
        &:last-child {
          color: #4A4D54;
          font-size: 0.14rem;
          font-weight: normal;
        }
      }
    }
  }
  .remark {
    background: #fff;
    padding: 0.15rem 0.12rem;
    li {
      line-height: 1;
      &:first-child {
        padding-bottom: 0.12rem;
        color: #000000;
        // font-weight: bold;
        font-size: 0.15rem;
      }
    }
  }
  .qrCode {
    margin-top: 0.08rem;
    height: 2.7rem;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    div {
      line-height: 1;
      padding: 0.2rem 0 0.12rem;
    }
  }
}