<style lang="scss" scoped>
  @import '../Dealer/Dealer.scss';
  @import '../leaveInfo/leaveInfo.scss';
  @import 'TestDrive.scss';
</style>
<script>
import { Indicator,Toast } from 'mint-ui';
import { getStore,setStore } from '/utils/storage.js'
import { submitLead,dealerLocation,dealerDistance,getAllProvinceCity } from '/api/index.js';
// import getLocation from '/utils/getLocation.js';
export default {
  data () {
    return {
      language: 'zh',
      listDealer: [],     // 经销商列表
      requestType: 0,     // 当前经销商查询方式： 0 -> 经纬度;    1 -> 城市code查询;   2 -> 经销商名称查询 
      dealerInfo: {},     // 选择的经销商信息
      provinceList: {},   // 省份列表
      cityList: {},       // 省对应市列表
      locationCity: '',
      dealerIsNull: false,  // 经销商数据为空

      position: {},       // 数据提交的经纬度
      location: {},       // 定位获取到经纬度信息
      carInfo: {},
      agreeRule: false,
      showCityList: false,
      cityName: '',
      provinceIndex: -1,  // 选择的省份index  ** 用来做当前选中省份的判断
      cityIndex: -1,      // 选择的城市index  ** 用来做当前选中城市的判断
      areaCode: '310100',       // 选中的城市code
      qrCode: '',
      // 提交数据
      remark: '',
      customerName:"", //客户姓名
      gender: "", //称谓(0:先生,1：女士,2:隐藏称谓)
      mobile:"", //手机号码
      dealerId: '', //经销商id
    }
  },
  mounted () {
    window.addEventListener('blur', this.handleBlur);
  },
  created () {
    setStore("lastPage",window.location.hash);
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase()); 
    const userInfo = JSON.parse(getStore("userInfo"));
    this.customerName = userInfo && userInfo.hasOwnProperty("username") ? userInfo.username : '';
    this.gender =  userInfo && userInfo.hasOwnProperty("gender") ? userInfo.gender.toString() : "";
    this.mobile =  userInfo && userInfo.hasOwnProperty("mobile") ? userInfo.mobile : '';

    this.init();
    this.getAllProvinceCity();
    Indicator.open({
      spinnerType: 'fading-circle'
    });
  },
  methods: {
    init () {
        var that = this;
        var div=document.createElement("div");//创建一个DIV
        div.id = "container";
        document.body.appendChild(div); 
        var map = new AMap.Map('container', {
          resizeEnable: true
        });

        AMap.plugin('AMap.Geolocation', function() {
          var geolocation = new AMap.Geolocation({
          enableHighAccuracy: false,//是否使用高精度定位，默认:true
            timeout: 1000,
            showButton: false,    
            zoomToAccuracy: false, 
            showMarker: false,
            showCircle: false,
            panToLocation: false,
            zoomToAccuracy:false 
          });
          map.addControl(geolocation);
          geolocation.getCurrentPosition(function(status,result){
            console.log(status)
            console.log(result)
            if(status == "error") {
              that.requestType = 1;
            } else {
              that.location = result;
              that.position = result.position;
              that.requestType = 0; //当前请求方式 ： 经纬度请求
              setStore('location',that.location);
            }
            that.provinceIndex = -1;  // 清空当前选择的省份
            that.cityIndex = -1;  // 清空当前选择的城市
            that.current = 1;
            that.listDealer = [];
            that.showCityList = false;  // 关闭城市列表
            that.getDealer();
          });
        });
      this.carInfo = JSON.parse(getStore("testDriveInfo"));
    },
    // 获取城市列表
    getAllProvinceCity () {
      getAllProvinceCity().then(res => {
        this.provinceList = res.data;
        this.cityList = res.data[0].listChildArea;  // 默认展示第一个省份的城市
        if (JSON.stringify(this.location) == "{}") {
        Indicator.open({
          spinnerType: 'fading-circle'
        });
        }
      })
    },
    chooseProvince (i) {
      this.provinceIndex = i;
      this.cityIndex = -1;
      this.cityList = this.provinceList[i].listChildArea;
    },
    chooseCity (i,item) {
      console.log(item)
      this.listDealer = [];
      this.cityIndex = i;
      this.showCityList = false;
      this.cityName = item["name" + this.language];
      this.areaCode = item.code;
      this.requestType = 1;
      this.getDealer();
    },
    // 重新定位
    resetPosition () {
      this.init();
    },
    // 打开城市列表
    openCityList () {
      this.showCityList = !this.showCityList;  
    },
    agreeFn () {
      this.agreeRule = !this.agreeRule;
    },
    // 选择经销商
    chooseDealer (item) {
      this.dealerInfo = item;
      this.dealerId = item.id;
      this.showCityList = false;
    },
    // 获取经销商列表
    getDealer () {     
      var obj = {};
      if(this.requestType == 0) {
        console.log(this.location)
        obj = {
          lat: this.location.position.lat.toString(),
          lng: this.location.position.lng.toString(),
          type: 0
        };
      } else if (this.requestType == 1) {
        obj = {
          type: 1,
          areaCode: this.areaCode,
        };
      } else if (this.requestType == 2) {
        obj = {
          dealerName: this.value,
        }
      }
      var params = {
        size: 50,
        current: 1,
      }
      var prevData = this.listDealer;
      dealerDistance(Object.assign(params,obj)).then(res => {
        console.log(res.data.hasOwnProperty("listDealer"))
        if(!res.data.hasOwnProperty("listDealer") || res.data.listDealer.records.length == 0) {
          this.dealerIsNull = true;
        } else {
          this.dealerIsNull = false;
        }
        if (obj.type == 0) {
          this.locationCity = res.data.areaInfo["name" + this.language];
        }
        this.cityName = res.data.areaInfo["name" + this.language];
        this.listDealer = res.data.listDealer.records;
        this.listDealerLen = res.data.listDealer.records.length;
        if(res.data.listDealer.pages == 0 || res.data.listDealer.current == res.data.listDealer.pages) {
          this.allLoaded = true;
          return false;
        }
        this.allLoaded = false;
      })
    },
    submit () {
      var reg=11 && /^((13|14|15|17|18)[0-9]{1}\d{8})$/;
      if(!reg.test(this.mobile)) {
        Toast(this.$t("common.tipstel"));
        return false;
      }
      if(!this.agreeRule) {
        Toast(this.$t("common.agreetips"));
        return false;
      }
      if(this.dealerId == "") {
        Toast(this.$t("common.tipsdealer"));
        return false;
      }
      var mustObj = {
        mobile: this.mobile, //手机号码
        gender: this.gender, //称谓(1：女士,0:先生,2:隐藏称谓)
        dealerId: this.dealerId, //经销商id
        customerName: this.customerName, //客户姓名
      }
      var obj = {
        remark: this.remark, //备注
        balloonPayment:  this.carInfo.balloonPayment,  // 尾款
        carModelId:  this.carInfo.modelId, // 车型ID
        carProdId:  Number(this.carInfo.carProdId),   // 金融服务-车型产品id(预约试驾必填)
        carSeriesId:  this.carInfo.seriesId, // 车系ID
        downPayment:  this.carInfo.downPayment, // 首付
        interestRate: this.carInfo.interestRate / 100,   // 贷款利率(预约试驾必填)
        loanPeriod:  this.carInfo.loanPeriod,  //贷款期限(预约试驾必填)
        loanAmount: this.carInfo.loanAmount,
        memberId: getStore("userInfo")!=null && getStore("userInfo") != "" ? JSON.parse(getStore("userInfo")).id : "",
        monthlyInstallment:  this.carInfo.monthlyInstallment, // 月供(预约试驾必填)
        type: 0, //线索类型(0：预约试驾,1:在线留资)
      }
      var that = this;
      var nullNum = 0;
      Object.keys(mustObj).forEach(function(key){
        if (mustObj[key]=="") {
          nullNum++;
        }
      });
      if(nullNum > 0) {
        Toast(this.$t("common.allinfotips"));
        return false;
      }
      var formObj = Object.assign(mustObj,obj);
      formObj.gender = Number(formObj.gender);
      submitLead(formObj).then(res => {
        this.qrCode = res.data;
      })
    },
    backPage () {
      if(this.qrCode!='') {
        window.location.href = '/'
      } else {
        this.$router.go(-1);
      }
    },
    // 前往历史留资记录
    toHistory() {
      this.$router.push({
        path: '/History',
      })
    },
    handleBlur () {
      window.scroll(0, 0);
    },
    toPrivacy () {
      this.$router.push({
        path: '/privacy'
      })
      
    },
  }
}
</script>

<template>
<div class="testDrive">
  <div>
    <mt-header :title="$t('calculator.testdriveR')">
      <div slot="left" @click="backPage">
        <img src="/static/img/return.png" class="return">
      </div>
    </mt-header>
  </div>
  
  <template v-if="qrCode==''">
    <div class="ui_body testD_body">
      <div class="testD_info">
        <div class="carInfo">
          <img :src="carInfo.imageSmallUrl">
          <div>
            <div class="title">{{carInfo["modelDesc" + language]}}</div>
            <div class="price">{{carInfo["modelMsrp" + language]}}</div>
            <div class="month">{{carInfo["modelSmi" + language]}}</div>
          </div>
        </div>
        <div class="userInfo">
          <div class="desc">{{$t("center.name")}}</div>
          <div class="input"><input :placeholder="$t('placeholder.entername')" v-model="customerName"/></div>

          <div class="desc">{{$t("common.gendertit")}}</div>
          <div style="margin-top: 0.15rem;margin-bottom: 0.02rem;">
            <mt-radio
              title=""
              v-model="gender"
              :options="[{label: $t('common.mr'),value: '0'}, {label: $t('common.ms'),value: '1'}, {label: $t('common.na'),value: '2'}]">
            </mt-radio>
          </div>

          <div class="desc" style="padding-top: 0;">{{$t("history.cellphone")}}</div>
          <div class="input"><input :placeholder="$t('placeholder.enterphone')" type="number" max="11" v-model="mobile"/></div>

          <div class="agree" @click="agreeFn">
            <img src="/static/img/noAgree.png" v-if="!agreeRule">
            <img src="/static/img/agree.png" v-if="agreeRule">
            <template v-if="language == 'Zh'">
              我已阅读、理解并接受
              <span @click="toPrivacy">《保时捷中国隐私政策》</span>
            </template>
            <template v-if="language == 'En'">
              I have read the 
              <span @click="toPrivacy"> Data Privacy Statement </span>
              and I accept them
            </template>
          </div>
        </div>
      </div>
      <div class="testD_dealer">
        <div class="dealer_city" @click="openCityList">
          {{cityName}}
          <img src="/static/img/triangle.png" class="triangleIcon">
        </div>
        <div class="dealer_body">
          <div class="dealer_list"  v-for="(item,i) in listDealer" :key="i" @click="chooseDealer(item)" :style="{'border-color': item.id == dealerInfo.id ? '#D5001C' : '#D3D7DB'}">
            <!-- <img src="/static/img/borAct.png" class="active" v-if="item.id == dealerInfo.id"> -->
            <img src="/static/img/listAct.png" style="width: 0.3rem;height: 0.3rem;left: auto;top:auto;" class="active" v-if="item.id == dealerInfo.id">
            
            <div class="dealer_listTit">{{item["name" + language]}}</div>
            <div class="dealer_listTel">{{$t("common.tel")}}：{{item.telphone}}</div>
            <div class="dealer_listAdr">
              <span style="line-height: 1.2;">{{item["address" + language]}}</span>
              <span>{{item.distance/1000 | Fixed}}km</span>
            </div>
          </div>
        </div>
        <div class="dealer_no" v-if="dealerIsNull">
          <img src="/static/img/noData.png">
          <div>该城市暂无该车型经销商</div>
        </div>
        <div class="cityBack" v-if="showCityList">
          <div class="cityBody">
            <div class="cityBodyTop">
              <div style="flex-grow: 1;">
                <img src="/static/img/location.png" class="location">
                <span class="cityCur">{{locationCity}}</span>
                <span style="font-size: 0.12rem; color: #84868C;margin-top: 0.04rem;">{{$t("dealer.currentlt")}}</span>
              </div>
              <div @click="resetPosition" style="font-size: 0.12rem; color: #000;">{{$t("dealer.refreshlt")}}</div>
            </div>
            <div class="cityCon">
              <ul class="city_province">
                <li :class="[provinceIndex == i ? 'active' : '']" v-for="(item,i) in provinceList" :key="i" @click="chooseProvince(i)">{{item["name" + language]}}</li>
              </ul>
              <ul class="city_city">
                <li :class="[cityIndex == i ? 'active' : '']" v-for="(item,i) in cityList" :key="i" @click="chooseCity(i,item)">{{item["name" + language]}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mark">
        <div class="leaveI_remark">
          <div>{{$t("common.remark")}}</div>
          <mt-field :placeholder="$t('placeholder.enter')" type="textarea" rows="4" v-model="remark"></mt-field>
        </div>
      </div>
    </div>
    <div class="ui_footerBtn" @click="submit">
      {{$t("common.submit")}}
    </div>
  </template>
  <template v-if="qrCode!=''">
    <div class="qrCode_body">
      <div class="qrCode_status">
        <img src="/static/img/scc.png">
        <span>{{$t("leaveinfo.successfully")}}</span>
      </div>
      <div class="qrCode_desc">{{$t("common.showqrcode")}}</div>
      <div class="qrCode_img">
        <img :src="qrCode">
      </div>
    </div>
    <div class="ui_footerBtn" @click="toHistory">
      {{$t("history.tohistory")}}
    </div>
  </template>
</div>
</template>
