.testDrive {
  .testD_body {
    height: calc(100% - 1rem);
    div {line-height: 1;}
    .testD_info {
      background: #fff;
      margin: 0.08rem 0;
      padding: 0.16rem 0.12rem 0.17rem;
      .carInfo {
        display: flex;
        align-items: center;
        padding-bottom: 0.12rem;
        border-bottom: 1px solid #E6E6E6;
        img {
          width: 1.2rem;
          height: 0.9rem;
          margin-right: 0.12rem;
        }
        &>div {
          width: calc(100% - 1.32rem);
          height: 0.9rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-size: 0.14rem;
          .title {
            color: #000;
            // font-weight: bold;
            padding-top: 0.02rem;
            line-height: 0.21rem;
            word-break: break-all;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            overflow: hidden;
            flex-grow: 1;
          }
          .price {
            color: #84868C;
            font-size: 0.11rem;
            margin-bottom: 0.05rem;
            // margin-top: 0.04rem;
          }
          .month {
            color: #D5001C;
          }
        }
      }
      .userInfo {
        .desc {
          padding-top: 0.16rem;
          margin-bottom: 0.11rem;
          color: #4A4A4A;
          font-size: 0.15rem;
          // font-weight: bold;
          display: flex;
          justify-content: space-between;
        }
        .input {
          margin-top: 0.11rem;
          input {
            height: 0.44rem;
            width: 3.51rem;
            padding-left: 0.12rem;
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid #B5B4BA;
            border-radius: 0;
          }
        }
        .agree {
          font-size: 0.12rem;
          color: #9B9B9B;
          margin-top: 0.13rem;
          display: flex;
          align-items: center;
          img {
            width: 0.14rem;
            height: 0.14rem;
          }
          span {
            color: #D5001C;
          }
        }
      }
    }
    .mark {
      .leaveI_remark {
        background: #fff;
        margin-top: 0.08rem;
        padding: 0.16rem 0.12rem;
        div {
          color: #000;
          font-size: 0.15rem;
          margin-bottom: 0.12rem;
        }
      }
    }
  }
}
.testD_dealer {
  background: #fff;
  margin-bottom: 0.08rem;
  position: relative;
  .dealer_city {
    border-bottom: 1px solid #E6E6E6;
    height: 0.44rem;
    line-height: 0.44rem!important;
    padding-left: 0.12rem;
  }
  .dealer_no {
    text-align: center;
    color: #4A4D54;
    font-size: 0.12rem;
    padding: 0.16rem 0;
  }
  .cityBack {
    position: absolute;
    top: 0.44rem;
    height: 2.635rem;
    .cityBody {
      height: 100%;
      background: #fff;
      .cityCon {
        height: calc(100% - 0.5rem);
        ul {
          li {
            &:first-child {
              margin-top: -0.08rem;
            }
          }
        }
      }
    }
  }
  .dealer_body {
    padding: 0.15rem 0.12rem;
  }
}