.dealer_filter {
  position: relative;
  width: 100%;
  height: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.12rem;
  margin-bottom: 0.08rem;
  border-top: 1px solid #E6E6E6;
  background: #fff;
  .search {
    height: 0.32rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.dealer_listBody {
  width: 100%;
  height: calc(100% - 1.08rem);
  background: #fff;
  padding: 0.15rem 0.12rem;
  overflow: scroll;
  flex-grow: 1;
}
.dealer_footBtn {
  width: 100%;
  height: 0.5rem;
  // position: fixed;
  // bottom: 0;
  background: #950014;
  font-size: 0.15rem;
  color: #fff;
  text-align: center;
  line-height: 0.5rem;
}
.cityBack {
  width: 100%;
  // height: calc(100vh - 1.5rem);
  background: rgba(0,0,0, 0.5);
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 0;
  // position: absolute;
  // top: 0.5rem;
  z-index: 99999999999;
  display: flex;
  flex-direction: column;
  .cityBody {
    background: #fff;
    height: 76.7%;
    .cityBodyTop {
      height: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.12rem;
      border-bottom: 1px solid #E6E6E6;
      & > div {
        display: flex;
        align-items: center;
      }
      .cityCur {
        font-size: 0.16rem;
        color: #000;
        // font-weight: bold;
        margin: 0 0.08rem 0 0.08rem;
      }
    }
    .cityCon {
      height: 88%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      color: #4A4D54;
      padding: 0.13rem 0;
      ul {
        width: 50%;
        height: 100%;
        padding: 0 0.16rem ;
        overflow: scroll;
        li {
          height: 0.5rem;
          line-height: 0.5rem;
          font-size: 0.15rem;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &.active {
            color: #D5001C;
          }
        }
      }
    }
  }
  .cityClose {
    flex-grow: 1;
  }
}

.dealer_list {
  border: 1px solid #D3D7DB;
  padding: 0.12rem;
  min-height: 0.86rem;
  margin-bottom: 0.08rem;
  color: #333333;
  font-size: 0.12rem;
  position: relative;
  &.redBorder {
    border: 0.02rem solid #D5001C;
  }
  .active {
    width: 100%;
    height: 0.87rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &>div {
    line-height: 1;
  }
  .dealer_listTit {
    font-size: 0.15rem;
    // font-weight: bold;
    margin-bottom: 0.13rem;
  }
  .dealer_listAdr {
    margin-top: 0.11rem;
    color: #999999;
    display: flex;
    justify-content: space-between;
  }
}