<style lang="scss" scoped>
  @import 'Dealer.scss';

</style>
<script>
import { Indicator,Toast } from 'mint-ui';
import { setStore } from '/utils/storage.js'
import { getUserInfo,dealerLocation,dealerDistance,getAllProvinceCity } from '/api/index.js';
// import getLocation from '/utils/getLocation.js';
export default {
  data () {
    return {
      language: 'zh',
      listDealer: [],     // 经销商列表
      provinceList: {},   // 省份列表
      cityList: {},       // 省对应市列表
      locationCity: '',
      
      requestType: 0,     // 当前经销商查询方式： 0 -> 经纬度;    1 -> 城市code查询;   2 -> 经销商名称查询    ** 用来做加载分页数据的时候 请求数据的判断
      botStatus: '',      // 加载数据状态
      showCityList: false,  // 是否展示城市列表
      location: {},       // 定位获取到经纬度信息
      position: {},       // 数据提交的经纬度
      value: '',          // search 搜索内容
      dealerId: 0,        // 选择的经销商id
      dealerInfo: {},     // 选择的经销商信息
      provinceIndex: -1,  // 选择的省份index  ** 用来做当前选中省份的判断
      cityIndex: -1,      // 选择的城市index  ** 用来做当前选中城市的判断
      cityName: '',
      areaCode: '310100',       // 选中的城市code
      current: 1,         //当前页码
      allLoaded: true,    
      dataNull: false,
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase()); 
    this.init();
    setStore("lastPage",window.location.hash);
    this.getAllProvinceCity();
    Indicator.open({
      spinnerType: 'fading-circle'
    });
  },
  methods: {
    init () {
      var that = this;
      var div=document.createElement("div");//创建一个DIV
      div.id = "container";
      document.body.appendChild(div); 
      var map = new AMap.Map('container', {
        resizeEnable: true
      });
      AMap.plugin('AMap.Geolocation', function() {
        var geolocation = new AMap.Geolocation({
          enableHighAccuracy: false,//是否使用高精度定位，默认:true
          timeout: 1000,          //超过10秒后停止定位，默认：5s
          showButton: false,    
          zoomToAccuracy: false,   //定位成功后是否自动调整地图视野到定位点
          showMarker: false,        //定位成功后在定位到的位置显示点标记，默认：true
          showCircle: false,        //定位成功后用圆圈表示定位精度范围，默认：true
          panToLocation: false,     //定位成功后将定位到的位置作为地图中心点，默认：true
          zoomToAccuracy:false,     //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition(function(status,result){
          if(status == "error") {
            that.requestType = 1;
          } else {
            that.location = result;
            that.position = result.position;
            that.requestType = 0; //当前请求方式 ： 经纬度请求
            setStore('location',that.location);
          }
          that.provinceIndex = -1;  // 清空当前选择的省份
          that.cityIndex = -1;  // 清空当前选择的城市
          that.current = 1;
          that.listDealer = [];
          that.showCityList = false;  // 关闭城市列表
          that.getDealer();
        });

      });
    },
    backPage () {
      this.$router.go(-1);
    },
    // 获取经销商列表
    getDealer () {
      var obj = {};
      if(this.requestType == 0) {
        obj = {
          lat: this.position.lat,
          lng: this.position.lng,
          type: 0
        };
      } else if (this.requestType == 1) {
        obj = {
          type: 1,
          areaCode: this.areaCode,
        };
      } else if (this.requestType == 2) {
        obj = {
          type: 0,
          lat: this.position.lat,
          lng: this.position.lng,
          dealerName: this.value,
        }
      }
      var params = {
        size: 10,
        current: this.current,
      }
      var prevData = this.listDealer;
      dealerDistance(Object.assign(params,obj)).then(res => {
        if(JSON.stringify(res.data) == "{}") {
          Toast(this.$t("dealer.null"));
          return false;
        }
        if(res.data.listDealer && res.data.listDealer.records.length == 0) {
          this.current = this.current >=2 ? this.current - 1 : 1;
          return false;
        }
        // 数据分页请求，请求的新数据和当前数据合并，在改变城市/输入内容/请求方式 时，先清空当前数据，请求页码归1
        if (obj.type == 0) {
          this.locationCity = res.data.areaInfo["name" + this.language];
        }
        this.cityName = res.data.areaInfo["name" + this.language];
        this.listDealer = JSON.stringify(res.data) != "{}" && res.data.listDealer && res.data.listDealer.records ? prevData.concat(res.data.listDealer.records) : prevData;
        if(this.listDealer.length == 0) {
          this.dataNull = true;
        }else {
          this.dataNull = false;
        }
        if(res.data.listDealer.pages == 0 || res.data.listDealer.current == res.data.listDealer.pages) {
          this.allLoaded = true;
          return false;
        }
        this.allLoaded = false;
      })
    },
    // 选择经销商
    chooseDealer (item) {
      this.dealerInfo = item;
    },
    // 搜索经销商
    search () {
      this.showCityList = false;
      this.current = 1;       // 请求页码归1
      this.requestType = 2;   // 当前请求方式： 经销商名称请求
      this.listDealer = [];   // 请求数据改变，首先清空当前数据
      if(this.value.trim() == "") {
        this.requestType = 0;   // 输入内容为空，调用经纬度请求方式
      } else {
        this.requestType = 2;
      }
      this.getDealer();
      
      document.activeElement.blur();
    },
    // 获取城市列表
    getAllProvinceCity () {
      getAllProvinceCity().then(res => {
        this.provinceList = res.data;
        this.cityList = res.data[0].listChildArea;  // 默认展示第一个省份的城市
        if (JSON.stringify(this.location) == "{}") {
          Indicator.open({
            spinnerType: 'fading-circle'
          });
        }
      })
    },
    // 重新定位
    resetPosition () {
      this.init();
    },
    // 打开城市列表
    openCityList () {
      this.showCityList = !this.showCityList;
    },
    chooseProvince (i) {
      this.provinceIndex = i;
      this.cityIndex = -1;
      this.cityList = this.provinceList[i].listChildArea;
    },
    chooseCity (i,item) {
      this.current = 1;
      this.listDealer = [];
      this.cityIndex = i;
      this.showCityList = false;
      this.cityName = item["name" + this.language];
      this.areaCode = item.code;
      this.requestType = 1;
      this.position.lng = item.longitude;
      this.position.lat = item.latitude;
      this.value = "";
      this.getDealer();
    },
    loadBottom () {
      var that = this;
      setTimeout(()=>{
        that.current++;
        that.getDealer();
        that.$refs.loadmore.onBottomLoaded();
      }, 500);
    },
    handleBotChange(status) {
      this.botStatus = status;
    },
    leaveInfo () {
      if(JSON.stringify(this.dealerInfo) == "{}") {
        Toast(this.$t("common.allinfotips"));
        return false;
      }
      getUserInfo().then(res => {
        this.info = res.data;
        setStore('userInfo', res.data)
        setStore("dealerInfo",this.dealerInfo);
        this.$router.push({
          path: '/LeaveInfo',
        })
      })
    },
  }
}
</script>

<template>
<div class="dealer">
  <div>
    <!-- header -->
    <mt-header :title="$t('nav.finddealer')">
      <div slot="left" @click="backPage">
        <img src="/static/img/return.png" class="return">
      </div>
    </mt-header>
    <!-- search -->
    <div class="dealer_filter">
      <div style="height: 100%;display: flex; align-items: center;margin-right: 0.1rem;" @click="openCityList">
        <span  style="font-size: 0.14rem;">{{cityName}}</span>
        <img src="/static/img/triangle.png" class="triangleIcon">
      </div>
      <div class="search">
        <div style="flex-grow: 1;">
          <form action="" v-on:submit.prevent="">
            <mt-search v-model="value" cancel-text="" :placeholder="$t('placeholder.searchdealer')" @keyup.enter.native="search">
            </mt-search>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div v-if="dataNull" class="nullData">
    {{$t("common.nulldata")}}
  </div>
  <!-- delarList -->
  <div v-if="!dataNull" class="dealer_listBody" :style="{ 'overflow': showCityList ? 'hidden' : 'scroll' }" >
    <mt-loadmore :bottom-method="loadBottom" :autoFill="false" :bottom-all-loaded="allLoaded" @bottom-status-change="handleBotChange" ref="loadmore">
      <div class="dealer_list"  v-for="(item,i) in listDealer" :key="i" @click="chooseDealer(item)" :style="{'border-color': item.id == dealerInfo.id ? '#D5001C' : '#D3D7DB'}">
        <!-- <img src="/static/img/borAct.png" class="active" v-if="item.id == dealerInfo.id"> -->
        <img src="/static/img/listAct.png" style="width: 0.3rem;height: 0.3rem;left: auto;top:auto;" class="active" v-if="item.id == dealerInfo.id">

        <div class="dealer_listTit">{{item["name"+language]}}</div>
        <div class="dealer_listTel">{{$t("common.tel")}}：{{item.telphone}}</div>
        <div class="dealer_listAdr">
          <span style="line-height: 1.2;">{{item["address" + language]}}</span>
          <span>{{item.distance/1000 | Fixed}}km</span>
        </div>
      </div>
      <div slot="bottom" class="mint-loadmore-bottom">
        <span v-show="botStatus !== 'loading'" :class="{'is-rotate': botStatus === 'drop' }" >↓</span>
        <span v-show="botStatus === 'loading'" style="text-align: center;display: flex; align-items: center;">
          <mt-spinner type="double-bounce" color="#26a2ff" style="margin: auto;"></mt-spinner>
        </span>
      </div>
    </mt-loadmore>
  </div>
  <div class="dealer_footBtn" @click="leaveInfo">{{$t("dealer.contactcenter")}}</div>
  <!-- cityList -->
  <div class="cityBack" v-if="showCityList">
    <div class="cityBody">
      <div class="cityBodyTop">
        <div style="flex-grow: 1;">
          <img src="/static/img/location.png" class="location">
          <!-- <span class="cityCur">{{location.addressComponents.city}}</span> -->
          <span class="cityCur">{{locationCity}}</span>
          <span style="font-size: 0.12rem; color: #84868C;margin-top: 0.04rem;">{{$t("dealer.currentlt")}}</span>
        </div>
        <div @click="resetPosition" style="font-size: 0.12rem; color: #000;">{{$t("dealer.refreshlt")}}</div>
      </div>
      <div class="cityCon">
        <ul class="city_province">
          <li :class="[provinceIndex == i ? 'active' : '']" v-for="(item,i) in provinceList" :key="i" @click="chooseProvince(i)">{{item["name" + language]}}</li>
        </ul>
        <ul class="city_city">
          <li :class="[cityIndex == i ? 'active' : '']" v-for="(item,i) in cityList" :key="i" @click="chooseCity(i,item)">{{item["name" + language]}}</li>
        </ul>
      </div>
    </div>
    <div class="cityClose" @click="openCityList"></div>
  </div>
</div>
</template>
