<style lang="scss" scoped>
  @import 'editName.scss';
</style>
<script>
import {Toast} from 'mint-ui';
import { getStore } from '/utils/storage.js'
import { updateUserInfo } from '/api/index.js';
export default {
  data() {
    return {
      name: '',
    }
  },
  mounted () {},
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    clear () {
      this.name = "";
    },
    update () {
      var reg = /^[a-zA-Z\u4e00-\u9fa5 ]+$/;
      var len = this.name.replace(/[\u0391-\uFFE5]/g,"aa").length;
      if (!reg.test(this.name) || len > 32 || this.name.trim() == "") {
        Toast(this.$t("center.toast"));
        return false;
      }
      var memberId = getStore("userInfo")!=null && getStore("userInfo") != "" ? JSON.parse(getStore("userInfo")).id : "";
      var obj = {
        id: memberId,
        username: this.name
      }
      updateUserInfo(obj).then(res => {
        this.$router.go(-1);
      })
    },
  },
  created () {
    console.log(this.$route.query.name)
    this.name = this.$route.query.name;
  },
}
</script>
<template>
<div class="editName">
  <div class="header">
    <img src="/static/img/return.png" @click="backPage" class="return">
    <span>修改姓名</span>
    <span class="right" @click="update">完成</span>
  </div>
  <div class="body">
    <div style="flex-grow: 1;">
      <input type="text" v-model="name">
    </div>
    <div @click="clear" style="width: 0.48rem;justify-content: center;">
      <img src="/static/img/clear.png" class="ui_clear">
    </div>
  </div>
</div>
</template>
