.editName {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.5rem;
    font-size: 0.16rem;
    color: #000000;
    background: #fff;
    img {
      margin-left: 0.12rem;
    }
    .right {
      height: 0.5rem;
      line-height: 0.5rem;
      padding: 0 0.12rem;
      color: #D62C19;
      // font-weight: bold;
    }
  }
  .body {
    background: #fff;
    margin-top: 0.08rem;
    height:0.44rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &>div {
      display: flex;
      align-items: center;
    }
    input {
      height: 0.3rem;
      display: block;
      width: 100%;
      padding-left: 0.16rem;
    }
    div {
      
      height: 100%;
      text-align: center;
      line-height: 0.48rem;
    }
  }
}