<style lang="scss" scoped>
 @import '../../assets/style/common';
 @import 'PfsProduct.scss';
</style>
<script>
import { setStore } from '/utils/storage.js'
import { pfsProducts } from '/api/index.js';
export default {
  data() {
    return {
      language: 'zh',
      carModelId: '',
      initData: {},
      dataNull: false,
    }
  },
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    toCalculator(item) {
      console.log(item)
      this.$router.push({
        path: '/PfsCalculator',
        query: {
          calculatorId: item.id
        }
      })
      
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    setStore("lastPage",window.location.hash);
    this.carModelId = this.$route.query.carModelId;
    pfsProducts(this.carModelId).then(res=> {
      if(res.data.products.length == 0) {
        this.dataNull = true;
      }else {
        this.dataNull = false;
      }
      this.initData = res.data;
    })
  },

}
</script>
<template>
<div style="background: #FAFAFA;">
  <mt-header :title='$t("calculator.chooseloanscenario")'>
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body" style="height: calc(100% - 0.5rem);">
    <div>
      <img :src="initData.imageBigUrl" class="pfsP_bigImg">
    </div>
    <div>
      <div class="pfsP_list">
        <div class="pfsP_listCon_2" v-if="true"> 
          <div>{{initData["modelDesc"+language]}}</div>
          <div>{{initData["modelMsrp"+language]}}</div>
        </div>
      </div>
      <div class="homeSplit"></div>
      <div v-if="!dataNull">
        <div class="pfsP_list" v-for="(item,i) in initData.products" :key="i">
          <div class="pfsP_listTit">{{item.fiProduct["name"+language]}}</div>
          <div class="pfsP_listCon">
            <div class="pfsP_listLower" style="width: 33.33%;">
              <div class="number"><span>¥</span> {{item.minDownPayment | NumFormat}}</div>
              <div class="grayColor">{{$t('calculator.mindownpay')}}</div>
            </div>
            <div style="width: 33.33%;">
              <div class="number"><span>¥</span> {{item.recommendMonthlyInstallment | NumFormat}} </div>
              <div class="grayColor">{{$t('calculator.recommendedinstall')}}</div>
            </div>
            <div>
              <div class="detailBtn" @click="toCalculator(item)">
                <img src="/static/img/detail.png" alt="">
                {{$t('common.details')}}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="nullData" v-if="dataNull" style="padding-top: 0.25rem;">
        <!-- <img src="/static/img/noData.png"> -->
        <div>{{$t("common.nulldata")}}</div>
      </div>
    </div>
  </div>
</div>
</template>
