.pfsP_bigImg {
  width: 100%;
  height: 2.815rem;
  background: #ddd;
  display: block;
}
.pfsP_listCon_2 {
  color: #191E22;
  height: 0.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > div {
    line-height: 1;
    &:first-child {
      font-size: 0.2rem;
      // font-weight: bold;
      margin-bottom: 0.1rem;
    }
    &:last-child {
      font-size: 0.16rem;
      & > span {
        color: #D62C19;
        font-size: 0.16rem;
        // font-weight: bold;
      }
    }
  }
}
.pfsP_list {
  padding: 0 0.12rem;
  background: #fff;
  .pfsP_listTit {
    height: 0.44rem;
    line-height: 0.44rem;
    border-bottom: 1px solid #E6E6E6;
    color: #000000;
    font-size: 0.16rem;
  }
  .pfsP_listCon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 0.865rem;
    & > div {
      
      div {
        line-height: 1;
      }
    }
    .detailBtn {
      width: 0.8rem;
      height: 0.24rem;
      background: #336699;
      color: #fff;
      font-size: 0.12rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 0.16rem;
        height: 0.16rem;
      }
    }
    .pfsP_listLower {
      .number {
        color: #D5001C;
      }
    }
    .number {
      font-size: 0.18rem;
      // font-weight: bold;
      margin-bottom: 0.1rem;
      color: #333333;
      & > span {
        font-size: 0.12rem;
      }
    }
    .grayColor {
      font-size: 0.12rem;
      color: #84868C;
    }
  }
}
.homeSplit {
  height: 0.08rem;
  background: #FAFAFA;
  width: 100%;
}