<style lang="scss" rel="stylesheet/scss" scoped>
  @import 'carList.scss';
</style>
<script>
  import { setStore } from '/utils/storage.js'
  import { carlistApi,carlistFilter } from '/api/index.js';
  export default {
    data () {
      return {
        language: '',
        botStatus: '',
        allLoaded: true,
        search: '',
        loading: false,
        carSeriesArr: [],  // 车型列表
        carModellist: [],
        dicountTypes: [], // 利率优惠
        req_list: [],   // 筛选列表数据
        // 列表请求数据
        carModel: "",
        carSeries: "",
        current: 1,
        maxPrice: 0,
        minPrice: 0,
        promotionPolicy: "",
        searchCount: true,
        size: 10,

        carTypeIndex: -2,
        carModelIndex: -2,
        priceIndex: -2,
        dicountIndex: -2,

        showCar: false,
        showPrice: false,
        showBenift: false,
        price:[],
        dataNull: false,
      }
    },
    methods: {
      req_carlistFilter () {
        carlistFilter().then(res=> {
          this.dicountTypes = res.data.dicountTypes;
          this.carSeriesArr = res.data.carSeries;
          this.carModellist = [];
        })
      },
      loadBottom () {
        var that = this;
        setTimeout(() => {
          that.current++;
          that.req_carlist();
          that.$refs.loadmore.onBottomLoaded();
        }, 500);
      },
      // 加载车型列表
      req_carlist () {
        var param = {
          carModel: this.carModel,
          carSeries: this.carSeries,
          current: this.current,
          maxPrice: this.maxPrice,
          minPrice: this.minPrice,
          promotionPolicy: this.promotionPolicy,
          searchCount: true,
          size: 10,
        }
        var prevData = this.req_list;
        carlistApi(param).then(res=> {
          this.req_list = prevData.concat(res.data.records);
          if(this.req_list.length == 0) {
            this.dataNull = true;
          }else {
            this.dataNull = false;
          }
          if(res.data.pages == 0 || res.data.current == res.data.pages) {
            this.allLoaded = true;
            return false;
          }
          this.allLoaded = false;
        })
      },
      select (type) {
        console.log(type)
        console.log(this[type])
        var obj = ["showCar", "showPrice", "showBenift"];
        obj.map(item=> {
          if(item != type) {
            this[item] = false;
          }
        })
        this[type] = !this[type];
      },
      // 选择车品牌
      chooseCar (index, val) {
        this.carTypeIndex = index;
        this.carModellist = val.carModels;
        this.carSeries = val.seriesId;
        this.carModelIndex = -2;
      },
      // 选择车型
      chooseCarModel (index, val) {
        this.carModelIndex = index;
        this.showCar = false;
        this.carModel = val.modelId;
        this.req_list = [];
        this.current = 0;
        this.req_carlist();
      },
      // 选择价格区间
      choosePrice (val) {
        console.log(val.indexOf(">")  != -1 )
        if(val.indexOf(">") != -1 && val.indexOf("CNY") != -1) {
          var minPrice = val.split(">")[1].split("K")[0];
          this.minPrice = minPrice * 1000;
          this.maxPrice = "";
        } else if (val.indexOf(">") != -1&& val.indexOf("万") != -1 ) {
          var minPrice = val.split(">")[1].split("万")[0];
          this.minPrice = minPrice * 10000;
          this.maxPrice = "";
        }else if (val.indexOf("-") == -1) {
          this.minPrice = "";
          this.maxPrice = "";
        } else {
          if(this.language == "Zh") {
            var maxPrice = val.split("-")[1];
            this.minPrice = val.split("-")[0] * 10000;
            this.maxPrice = maxPrice.split("万")[0] * 10000;
          } else {
            if(val.indexOf("-") > 0) {
              var minPrice = val.split("-")[0].split("Y")[1];
              var maxPrice = val.split("-")[1];
              this.minPrice = minPrice.split("K")[0] * 1000;
              this.maxPrice = maxPrice.split("K")[0] * 1000;
            } else {
              // CNY>1500K
              var minPrice = val.split(">")[1];
              console.log(minPrice)
            }

          }

        }
        this.priceIndex = val;
        this.showPrice = false;
        this.req_list = [];
        this.current = 0;
        this.req_carlist();
      },
      chooseDicount (index,val) {
        this.dicountIndex = index;
        this.promotionPolicy = val.value;
        this.showBenift = false;
        this.current = 0;
        this.req_list = [];
        this.req_carlist();
      },
      handleBotChange(status) {
        this.botStatus = status;
      },
      goPfsPro (item) {
        this.$router.push({
          path: '/PfsProduct',
          query: {
            carModelId: item.modelId
          }
        })
      },
    },
    mounted () {
      // this.req_carlist();
      this.req_carlistFilter();
    },
    created () {
      setStore("lastPage",window.location.hash);
      this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
      if(this.language == "En") {
        this.price = [this.$t('common.all'),"CNY 500K - 800K","CNY 800K - 1000K","CNY 1000K - 1500K","CNY>1500K"]
      } else {
        this.price = [this.$t('common.all'), "50 - 80万元", "80 - 100万元", "100 - 150万元", "> 150万元"]
      }
      this.req_carlist();
    },
    computed: {
      filterResult() {
        return false;
        return this.req_list.filter(search => new RegExp(this.search, 'i').test(search));
      }
    }
  }
</script>
<template>
<div class="carlist" style="background: #fff;">
  <mt-header :title="$t('nav.carmodels')">
    <router-link to="/" slot="left">
      <img src="/static/img/return.png" class="return">
    </router-link>
  </mt-header>
  <!-- <div class="carlistSearch">
    <img src="/static/img/return.png" class="return">
    <mt-search autofocus v-model="search" placeholder="搜索全新Cayenne" :result="filterResult" cancel-text="">
  </div> -->
  <div class="carlistFilter">
    <div class="fiterSelect" @click="select('showCar')">
      <div :style="{ 'color': showCar ? '#D5001C' : '#4A4D54' }">{{$t('carlist.models')}}</div>
      <img src="/static/img/triangle.png" v-if="!showCar">
      <img src="/static/img/trianglered.png" v-if="showCar">
    </div>
    <div class="fiterSelect" @click="select('showPrice')">
      <div :style="{ 'color': showPrice ? '#D5001C' : '#4A4D54' }">{{$t('carlist.price')}}</div>
      <img src="/static/img/triangle.png" v-if="!showPrice">
      <img src="/static/img/trianglered.png" v-if="showPrice">
    </div>
    <div class="fiterSelect" @click="select('showBenift')">
      <div :style="{ 'color': showBenift ? '#D5001C' : '#4A4D54' }">{{$t('carlist.betterrates')}}</div>
      <img src="/static/img/triangle.png" v-if="!showBenift">
      <img src="/static/img/trianglered.png" v-if="showBenift">
    </div>
  </div>
  <div v-if="dataNull" class="nullData">
    {{$t("common.nulldata")}}
  </div>
  <div v-if="!dataNull" :class="[showCar || showBenift || showPrice ? 'pageHidden':'carListBody']">
    <mt-loadmore :bottom-method="loadBottom" :auto-fill="false" :bottom-all-loaded="allLoaded" @bottom-status-change="handleBotChange" ref="loadmore">
      <ul class="carlistCon" >
        <li class="list" v-for="(item, i) in req_list" :key="i" @click="goPfsPro(item)">
          <img :src="item.imageSmallUrl">
          <div>
            <!-- <div class="title">{{item.modelDescZh}}</div> -->
            <div class="title">{{item["modelDesc"+language]}}</div>
            <!-- <div class="price">指导价 ¥ {{item.modelMsrp | NumFormat}} 起*</div> -->
            <div class="price">{{item["modelMsrp"+language]}}</div>
            <!-- <div class="monthPrice">月供 ¥ {{item.modelSmi | NumFormat}} 起*</div> -->
            <div class="monthPrice">{{item["modelSmi"+language]}}</div>
          </div>
        </li>
      </ul>
      <div slot="bottom" class="mint-loadmore-bottom">
        <span v-show="botStatus !== 'loading'" :class="{'is-rotate': botStatus === 'drop' }" >↓</span>
        <span v-show="botStatus === 'loading'">
          <mt-spinner type="double-bounce" color="#26a2ff"></mt-spinner>
        </span>
      </div>
    </mt-loadmore>
  </div>
    <div class="filterContent" v-if="showCar">
      <div class="filterBody">
        <ul style="width: 50%;">
          <li :style="{ 'color': carTypeIndex==-1 ? '#D5001C' : '#4A4D54' }" @click="chooseCar(-1, {'seriesId' : ''})">{{$t("common.all")}}</li>
          <li :style="{ 'color': carTypeIndex==i ? '#D5001C' : '#4A4D54' }" v-for="(item,i) in carSeriesArr" :key="i" @click="chooseCar(i,item)">{{item["seriesName"+language]}}</li>
        </ul>
        <ul style="width: 50%;">
          <li :style="{ 'color': carModelIndex==-1 ? '#D5001C' : '#4A4D54' }" @click="chooseCarModel(-1, {'modelId' : ''})">{{$t("common.all")}}</li>
          <li :style="{ 'color': carModelIndex==i ? '#D5001C' : '#4A4D54' }" v-for="(item,i) in carModellist" :key="i" @click="chooseCarModel(i,item)">{{item["modelDesc"+language]}}</li>
        </ul>
      </div>
      <div class="filterCover"  @click="select('showCar')"></div>
    </div>
    <div class="filterContent" v-if="showPrice">
      <div class="filterBody">
        <ul style="width: 100%;">
          <li :style="{ 'color': priceIndex==item ? '#D5001C' : '#4A4D54' }" style="text-align: center;" @click="choosePrice(item)" v-for="item in price" :key="item">{{item}}</li>
        </ul>
      </div>
      <div class="filterCover"  @click="select('showPrice')"></div>
    </div>
    <div class="filterContent" v-if="showBenift">
      <div class="filterBody">
        <ul style="width: 100%;text-align: center;">
          <li :style="{ 'color': dicountIndex==-1 ? '#D5001C' : '#4A4D54' }" @click="chooseDicount(-1,  {'value' : ''})">{{$t("common.all")}}</li>
          <li @click="chooseDicount(i,item)" :style="{ 'color': dicountIndex==i ? '#D5001C' : '#4A4D54' }" v-for="(item,i) in dicountTypes" :key="i">{{item["label"+language]}}</li>
        </ul>
      </div>
      <div class="filterCover"  @click="select('showBenift')"></div>
    </div>
</div>
</template>

