.pageHidden {
  height: calc(100vh - 1rem);
  overflow: hidden;
}
.carListBody {
  height: calc(100vh - 1rem);
  overflow: scroll;
}
.return {
  width: 0.22rem;
  height: 0.22rem;
  margin-right: 0.12rem;
}
.rotate {
  transform: rotate(180deg);
}
.carlistFilter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #DADADA;
  position: relative;
  box-sizing: border-box;
  height: 0.5rem;
  .fiterSelect {
    display: flex;
    align-items: center;
    height: 0.5rem;
    color: #4A4D54;
    div {
      min-width: 0.48rem;
      text-align: right;
    }
    img {
      width: 0.16rem;
      height: 0.16rem;
    }
  }
}
.carlistCon {
  padding: 0 1em;
  .list {
    padding: 0.16rem 0.25rem 0.12rem 0;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    align-items: flex-start;
    &>div {
      display: flex;
      flex-direction: column;
      height: 0.9rem;
      justify-content: space-between;
    }
    img {
      width: 1.2rem;
      height: 0.9rem;
      background: #F6F6F6;
      margin-right: 0.12rem;
    }
    .title {
      font-size: 0.14rem;
      color: #000;
      // font-weight: bold;
      margin-bottom: 0.012rem;
      flex-grow: 1;
    }
    .price {
      font-size: 0.12rem;
      color: #84868C;
      // margin-bottom: 0.2rem;
    }
    .monthPrice {
      font-size: 0.12rem;
      color: #D5001C;
    }
  }
}

.filterContent {
  position: absolute;
  width: 3.75rem;
  left: 0;
  top: 1rem;
  bottom: 0;
  // border-top: 1px solid #DADADA;
  background: rgba(0,0,0,0.5);
  // height: calc(100vh - 2rem);
  z-index: 99999999999999999999999;
  display: flex;
  flex-direction: column;
  .filterBody {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background: #fff;
    ul {
      // max-height: 3.74rem;
      max-height: 50vh;
      overflow: scroll;
      padding: 0.12rem 0.16rem;
      li {
        height: 0.5rem;
        line-height: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .filterCover {
    width: 100%;
    background: transparent;
    flex-grow: 1;
  }
}