<style lang="scss" scoped>
  @import 'History.scss';
</style>
<script>
import { getStore,setStore } from '/utils/storage.js'
import { getLeadPageList } from '/api/index.js';
export default {
  data () {
    return {
      language: 'zh',
      botStatus: '',
      allLoaded: true,
      current: 1,
      size: 10,
      records: [],
      dataNull: false,
    }
  },
  mounted () {},
  created () {
    setStore("lastPage",window.location.hash);
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    this.request();
  },
  methods: {
    request () {
      var obj = {
        current: this.current,
        umsMemberId:  getStore("userInfo")!=null && getStore("userInfo") != "" ? JSON.parse(getStore("userInfo")).id : "",
      }
      var prevData = this.records;
      getLeadPageList(obj).then(res => {
        this.records = prevData.concat(res.data.records);
        if(this.records.length == 0) {
          this.dataNull = true;
        }else {
          this.dataNull = false;
        }
        if(res.data.pages == 1 || res.data.current == res.data.pages) {
          this.allLoaded = true;
          return false;
        }
        this.allLoaded = false;
      })
    },
    loadBottom () {
      var that = this;
      setTimeout(() => {
        that.current++;
        that.request();
        that.$refs.loadmore.onBottomLoaded();
      }, 1000);
    },
    toDetail (leadId,type) {
      this.$router.push({
        path: '/HistoryDetail',
        query: {
          leadId,
          type,
        }
      })
    },
    handleBotChange(status) {
      this.botStatus = status;
    },
    backPage () {
      this.$router.go(-1);
    },
  },
}
</script>

<template>
<div class="History">
  <mt-header :title="$t('nav.leaveinforecords')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  
  <div v-if="dataNull" class="nullData">
    {{$t("common.nulldata")}}
  </div>
  <div v-if="!dataNull" class="ui_body history_body">
    <mt-loadmore :bottom-method="loadBottom" :auto-fill="false" :bottom-all-loaded="allLoaded" @bottom-status-change="handleBotChange" ref="loadmore">
      <div class="history_list" @click="toDetail(item.leadId,item.type)" v-for="(item,i) in records" :key="i">
        <div class="title">
          <span>{{item["carModelName" + language]}}</span>
          <span :style="{'color': item.type == 0 ? '#336699' : '#D5001C'}">{{item.type==0 ? $t("calculator.testdrive") : $t("nav.leaveinfo")}}</span>
        </div>
        <div class="address">{{item["dealerName"+language]}}</div>
        <div class="time">
          <div>{{$t('history.applicationtime')}} {{item.createTime.substring(0,10)}}</div>
          <div>
            <span>{{$t('common.details')}}</span>
            <img src="/static/img/more.png" class="more">
          </div>
        </div>
      </div>
      <div slot="bottom" class="mint-loadmore-bottom">
        <span v-show="botStatus !== 'loading'" :class="{'is-rotate': botStatus === 'drop' }" >↓</span>
        <span v-show="botStatus === 'loading'">
          <mt-spinner type="double-bounce" color="#26a2ff"></mt-spinner>
        </span>
      </div>
    </mt-loadmore>
  </div>
</div>
</template>
