
.history_body {
  background: #fff;
  margin-top: 0.08rem;
  padding: 0.16rem 0.12rem;
  height: calc(100% - 0.5rem);
  overflow: scroll;
  .history_list {
    height: 0.86rem;
    width: 100%;
    border: 1px solid #D3D7DB;
    font-size: 0.12rem;
    padding: 0 0.12rem;
    margin-bottom: 0.08rem;
    background: #fff;
    div {
      line-height: 1;
    }
    .title {
      font-size: 0.14rem;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.12rem 0;
      // font-weight: bold;
      span {
        &:last-child {
          font-size: 0.12rem;
          font-weight: normal;
        }
      }
    }
    .address {
      color: #84868C;
    }
    .time {
      color: #B5B4BA;
      display: flex;
      justify-content: space-between;
      padding: 0.12rem 0;
      div {
        &:last-child {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}