<style lang="scss" scoped>
  @import 'editCar.scss';
</style>
<script>
import { getStore } from '/utils/storage.js'
import { getCarModel,updateUserInfo} from '/api/index.js';
export default {
  data () {
    return {
      list: [],
      seriesName: '',
      language: 'Zh',
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    this.seriesName = this.$route.query.seriesName;
    getCarModel({seriesId: this.$route.query.seriesId}).then(res => {
      console.log(res)
      this.list = res.data;
    })
  },
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    updateCar (item) {
      this.memberId = getStore("userInfo")!=null && getStore("userInfo") != "" ? JSON.parse(getStore("userInfo")).id : ""
      var obj = {
        carModelId: item.modelId,
        carSerieId: item.seriesId,
        id: this.memberId,
      }
      updateUserInfo(obj).then(res => {
        this.$router.go(-2);
      })
    },
  }
}
</script>

<template>
<div class="editCar">
  <mt-header  :title="$t('leaveinfo.carmodelinfo')">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body" style="margin-top: 0;height: calc(100% - 0.5rem)">
    <div class="pagetitle">{{seriesName}}</div>
    <ul>
      <li style="height: 0.5rem;" v-for="(item,i) in list" :key="i" @click="updateCar(item)">
        <span>{{item["modelDesc"+language]}}</span>
      </li>
    </ul>
  </div>
</div>
</template>
