<style lang="scss" scoped>
  @import 'editCar.scss';
</style>
<script>
import { getStore } from '/utils/storage.js'
import { getCarseries} from '/api/index.js';
export default {
  data () {
    return {
      list: [],
      language: 'Zh',
    }
  },
  mounted () {},
  created () {
    this.language = this.$i18n.locale.toLowerCase().replace(/( |^)[a-z]/g, (L) => L.toUpperCase());
    getCarseries().then(res => {
      console.log(res)
      this.list = res.data;
    })
  },
  methods: {
    backPage () {
      this.$router.go(-1);
    },
    toCarSeries (seriesId,seriesNameZh) {
      this.$router.push({
        path: '/editCarModel',
        query: {
          seriesId: seriesId,
          seriesName: seriesNameZh
        }
      })
    },
  }
}
</script>

<template>
<div class="editCar">
  <mt-header :title="$t('leaveinfo.carseries')">
  <!-- <mt-header title="意向车型"> -->
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body">
    <ul>
      <li v-for="(item,i) in list" :key="i" @click="toCarSeries(item.seriesId,item.seriesNameZh)">
        <img :src="item.imageUrl" class="car">
        <span>{{item["seriesName"+language]}}</span>
        <div>
          <img src="/static/img/more.png" class="more">
        </div>
      </li>
    </ul>
  </div>
</div>
</template>
