.editCar{
  .ui_body {
    margin-top: 0.08rem;
    background: #fff;
    .pagetitle {
      background: #FAFAFA;
      height: 0.44rem;
      line-height: 0.44rem;
      padding-left: 0.12rem;
    }
    ul {
      padding: 0 0.12rem;
      li {
        height: 0.65rem;
        border-bottom: 1px solid #E6E6E6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .car {
          width: 1.02rem;
          height: 0.57rem;
          margin-right: 0.4rem;
        }
        &>div {
          height: 100%;
          width: 5em;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }

}