<style lang="scss" scoped>
  @import "Privacy.scss";
</style>
<script>
export default {
  data () {
    return {}
  },
  methods: {
    backPage () {
      this.$router.go(-1);
    },
  }
}
</script>
<template>
<div class="privacy">
  <mt-header title="隐私条款">
    <div slot="left" @click="backPage">
      <img src="/static/img/return.png" class="return">
    </div>
  </mt-header>
  <div class="ui_body pricacy_body">
    <div class="title">{{$i18n.locale=="zh" ? "保时捷（中国）汽车销售有限公司隐私政策" : "Porsche (China) Motors Ltd. Privacy Policy"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "本隐私政策（以下称“隐私政策”）介绍了保时捷（中国）汽车销售有限公司及其授权经销商（合称“保时捷”）如何收集有关您的信息、如何使用和分享您的信息以及您的选择。" : 'This privacy policy (“Privacy Policy”) describes the information that Porsche (China) Motors Ltd. and authorized Porsche dealers (collectively, "Porsche") collects about you, how we use and share your information, and your choices.'}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "范围" : "Scope"}} </div>
    <div class="general"> {{$i18n.locale=="zh" ? "本隐私政策适用于保时捷或代表保时捷通过发布了本隐私政策或其链接或以其他方式将本隐私政策呈现给您的保时捷实体店铺、车展、网站、在线服务或程序、移动应用程序和社交媒体平台（包括但不限于我们的微信公众号（WeChat）及微信小程序或其他衍生或附属程序（应用））以及其他保时捷在线或线下产品、服务和活动（我们的“服务”）等收集和处理的有关您的信息（参见以下“我们收集的信息”一节）。除非另有说明，本隐私政策所提及的“保时捷”，“我们”或“我们的”指保时捷（中国）汽车销售有限公司及其授权经销商。" : "This Privacy Policy applies to information collected and processed about you by or on behalf of Porsche as set forth in the below “Information We Collect” section, including through any Porsche's physical stores, auto shows, websites, online services or programs, mobile applications and social media platforms (including but not limited to our WeChat official account and WeChat mini-programs or other derivative or affiliate programs (applications)) and any other Porsche's online or offline products, services and events where this Privacy Policy is posted, linked or otherwise presented to you (our “Services”). Unless otherwise indicated, all references to “Porsche”, “we” or “our” in this Privacy Policy means Porsche (China) Motors Ltd. and authorized Porsche dealers."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "链接、第三方网站和社交媒体平台" : "Links, Third-Party Websites, and Social Media Platforms"}} </div>
    <div class="general">{{$i18n.locale=="zh" ? "我们的服务可能会包含第三方网站的链接以及微博或微信等社交媒体平台（以下统称“链接网站”）的链接。保时捷对链接网站的隐私政策或做法不承担任何责任。我们建议您仔细阅读您访问的每一个链接网站的隐私政策。" : "Our Services may contain links to the websites of third parties, as well as to social media platforms such as Weibo or WeChat (“Linked Sites”). Porsche is not responsible and has no liability for the privacy policies or practices of Linked Sites. We recommend that you review the privacy policies of each Linked Site you visit."}} </div>
    <div class="title">{{$i18n.locale=="zh" ? "服务的地域范围" : "Geographical Scope of Services"}}</div>
    <div class="general" v-if="$i18n.locale=='zh'"> 我们的服务仅向中国大陆地区的用户提供。如果您位于中国大陆地区以外，请回到 <a style="color:#D5001C;text-decoration: underline;">www.porsche.com</a>，并使用下拉框找到您所在地区的用户网站。 </div>
    <div class="general" v-if="$i18n.locale == 'en'">Our Services are for users located exclusively in the mainland of the People's Republic of China. If you are located outside the mainland of the People's Republic of China, please return to <a style="color:#D5001C;text-decoration: underline;">www.porsche.com</a> and use the drop down box to find the website for users in your location.</div>
    <div class="title">{{$i18n.locale=="zh" ? "我们收集的信息" : "Information We Collect"}} </div>
    <div class="general">{{$i18n.locale=="zh" ? "本隐私政策中所提及的“个人信息”是指以电子或者其他方式记录的能够单独或者与其他信息结合识别自然人个人身份的各种信息。个人信息和不能用以识别特定个体的其它信息统称“信息”。" : "As used in this Privacy Policy, “Personal Information” means all kinds of information recorded by electronic or otherwise that can be used to independently identify or be combined with other information to identify natural persons. “Information” is collectively used herein to refer to both Personal Information and other information that does not identify a specific individual."}}</div>
    <div class="general" style="margin-top: 0.25rem;"></div>
    {{$i18n.locale=="zh" ? "通过线上和/或线下各种形式（例如网页、应用、邮件、短信、信件、当面收集等），我们在不同情况下收集您的个人信息，包括但不限于： " : "Through various online and/or offline forms (e.g., web pages, applications, emails, SMS, letters, face-to-face collection, etc.), we collect your personal information in different occasions, including but not limited to when you:"}}
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "您向我们订购和/或购买我们的任何产品或服务时；" : "order and/or purchase any of our products or services from us;"}}</li>
      <li>{{$i18n.locale=="zh" ? "您参与任何保时捷活动或项目时，包括参与任何活动、项目、竞赛、调查、车展、抽奖或我们不时提供的其它推广活动（以下统称“活动”）；" : "participate in any Porsche event or program, including any event, program, contest, survey, auto show, sweepstake or other promotion that we may offer from time to time (collectively, “Events”);"}}</li>
      <li>{{$i18n.locale=="zh" ? "您订阅保时捷宣传品、快报或其它通讯时；" : "subscribe to the Porsche marketing materials, newsletter, or other communications from us;"}}</li>
      <li>{{$i18n.locale=="zh" ? "您与我们联系或沟通时和/或您要求我们提供信息时（例如通过网页、应用、邮件、短信、信件、当面沟通等）；" : "contact or communicate with us and/or request information from us (e.g., via web pages, applications, emails, SMS, letters, face-to-face communication, etc.);"}}</li>
      <li>{{$i18n.locale=="zh" ? "您访问或使用第三方社交媒体平台上与保时捷相关的网页或账户时（“社交媒体平台”）；" : "access or use Porsche-related pages or accounts on any third-party social media platforms (“Social Media Platforms”);"}}</li>
      <li>{{$i18n.locale=="zh" ? "您访问或使用第三方垂直网站上与保时捷相关的网页或账户时（“垂直网站”）；" : 'access or use Porsche-related pages or accounts on any third-party vertical websites ("Vertical Websites");'}}</li>
      <li>{{$i18n.locale=="zh" ? "您向我们提供或提交意见、建议、体验或其它内容时；" : "provide or submit comments, suggestions, experiences, or other content to us; and/or"}} </li>
      <li>{{$i18n.locale=="zh" ? "以其它方式与我们和我们的服务进行互动时。 " : "otherwise interact with us and our Services."}}</li>
    </ul>
    <div class="general">{{$i18n.locale=="zh" ? "此外，若您已购买保时捷车辆 ，我们还将根据可适用的法律和监管要求和/或保时捷的技术要求，在您持有和使用保时捷车辆时收集相关的车辆信息。详见法定信息一节。 " : "In addition, if you have purchased Porsche vehicle(s), we will also collect relevant vehicle information in accordance with applicable legal and regulatory requirements and/or Porsche technical requirements when you are possessing and using Porsche vehicle(s). Please refer to the Statutory Information section."}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "在您提交代表您同意我们收集和处理个人信息的授权声明后，我们将收集有关本隐私政策所述目的之各类个人信息，包括但不限于: " : "Following your submission a Declaration of Consent representing your consent to our collection and processing of your Personal Information, we will collect all kinds of Personal Information relating to the purpose of this Privacy Policy, including but not limited to:"}} </div>
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "个人基本信息，包括您的姓名、身份证号码、职业和收入状况；" : "basic personal information, including your name, citizen ID, occupation and income status；"}}</li>
      <li>{{$i18n.locale=="zh" ? "联络信息, 包括手机号码、电邮地址、邮政地址和邮编；" : "contact information, including mobile phone number, email address, postal address and zip code;"}}</li>
      <li>{{$i18n.locale=="zh" ? "人口统计信息，例如您的性别、生日、国籍；" : "demographic information, such as your gender, birthday, nationality;"}}</li>
      <li>{{$i18n.locale=="zh" ? "驾驶信息，例如您的驾驶证号码、您目前和过往驾驶的车辆、对于车辆的偏好；" : "driving information, such as your driver's license number, your current and past vehicles, and your vehicle preferences;"}}</li>

      <li>{{$i18n.locale=="zh" ? "购买信息，包括您所购买的产品及其价格，和其他交易细节；" : "purchase information, including the product you purchased and its price, and other transaction details;"}}</li>
      <li>{{$i18n.locale=="zh" ? "支付信息，包括支付渠道、信用卡/借记卡信息；" : "payment information, including payment channels, credit card/debit card information;"}}</li>
      <li>{{$i18n.locale=="zh" ? "评论及通信信息，例如您就我们提供的产品和/或服务所提出的评论或与我们的通信中所包含的个人信息； " : "comment and communication information, including the Personal Information contained in your reviews or correspondence with us regarding the products and/or services we provide;"}}</li>
      <li>{{$i18n.locale=="zh" ? "互动信息，包括您选择响应或参与活动中所包含的个人信息，以及以其它方式与我们和我们的服务进行互动时所包含的个人信息；" : "interaction information, including Personal Information contained in any Events and other interaction with us and our Services that you choose to respond to or participate in;"}}</li>
      <li>{{$i18n.locale=="zh" ? "垂直网站信息，包括您访问或使用第三方垂直网站上与保时捷相关的网页或账户时提交或产生的任何个人信息" : "Vertical Websites information, including any information generated or submitted during your access or using of Porsche-related pages or accounts on any third-party vertical websites;"}}</li>
    </ul>
    <div class="title">{{$i18n.locale=="zh" ? "社交媒体平台信息，包括：" : "Social Media Platform information, including:"}}</div>
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "您在注册社交平台（例如微信）账号时或在使用社交媒体平台服务的过程中授权社交媒体平台向社交媒体平台上的公众号运营者（比如我们）共享的您的社交媒体平台基本信息，比如您的社交媒体平台用户名和昵称、头像、性别、城市、您的语言设置、您关注我们的社交媒体平台号的时间等；" : "your basic information of social media platforms that you authorize social media platforms to share with official account operators (such as us) on such platforms when you registered your social media platform account or in the process of using social media platform services, such as your account name and nickname, profile picture, gender, city, your language settings, when you followed our social media platform official account, etc."}}</li>
      <li>{{$i18n.locale=="zh" ? "您使用我们在社交媒体平台上运营的我们的社交媒体平台号及任何程序（包括社交媒体平台小程序或其它衍生或附属程序（应用））时向我们提供的信息如：您的联系方式、您所作的任何交易之细节、以及我们可能在您使用我们的社交媒体平台号或与前述程序互动的过程中获得的其他信息； " : "the information you provide to us such as your contact information, details of any transactions you make, and other information we may obtain when you use or interact with our social media platform official account and any mini-programs operated by us on the social media platforms (including social media platforms applets or other derivative or affiliate programs (applications));"}}</li>
      <li>{{$i18n.locale=="zh" ? "您发送给我们的通信中所包含的个人信息，例如报告问题或提交关于我们的社交媒体平台号或其内容的查询、关注或评论；" : "Personal Information contained in your correspondence with us, such as reporting problems or submitting queries, subscriptions or comments about our social media platform official account or its contents;"}}</li>
      <li style="margin-bottom: 0.12rem;">{{$i18n.locale=="zh" ? "当您造访或进入距离我们店铺的一定范围内，我们仅为了通过我们的社交媒体平台号向您提供最新店内产品和服务信息之目的而检测到的您移动设备的MAC（即Media Access Control，媒体访问控制)地址。" : "the MAC (Media Access Control) address of your mobile device that we detect only for the purpose of providing you with the latest in-store product and service information through our social media platform official account when you visit or enter a certain distance from our stores."}}</li>
    </ul>
    <div class="general">{{$i18n.locale=="zh" ? "您可以自愿提供任何上述信息。在许多情况下，如果您选择不提供上述信息，我们将无法为您提供我们的产品或服务，也无法回应您遇到的任何问题或者您的其他需求。" : "You may voluntarily provide any of the above information. In many cases, if you choose not to provide the above information, we will not be able to provide you with our products or services, or respond to any of your problems or other needs."}}</div>
    <div style="margin-top: 0.12rem;">
      <div>{{$i18n.locale=="zh" ? "法定信息" : "Statutory Information"}} </div>
      {{$i18n.locale=="zh" ? "若您已购买保时捷车辆，我们还将根据可适用的法律和监管要求和/或保时捷的技术要求，收集和处理与您所购买的保时捷车辆有关的受监管的车辆信息和个人信息（“法定信息”）。您有义务配合保时捷对此类法定信息的收集，以符合可适用的法律和监管要求。 若您将所购买的保时捷车辆向第三方转卖时，您有义务告知该第三方，其应当在完成车辆变更登记后30个工作日内与保时捷（中国）汽车销售有限公司取得联系并提供相关的法定信息。" : 'If you have purchased Porsche vehicle(s), we will also collect and process the regulated vehicle information and personal information in connection with the Porsche vehicle(s) that you have purchased in accordance with applicable legal and regulatory requirements and/or Porsche technical requirements ("Statutory Information"). You are obligated to cooperate with Porsche in the collection of such Statutory Information to comply with applicable legal and regulatory requirements.When you resell the purchased Porsche vehicle to a third party, you have the obligation to inform such third party that it should reach out to and provide Porsche (China) Motors Ltd. the Statutory Information within 30 working days after the completion of the amendment of vehicle registration.'}}
    </div>
    <div class="title">{{$i18n.locale=="zh" ? "自动收集的信息" : "Information Collected Automatically"}} </div>
    <div style="margin-bottom: 0.25rem;">{{$i18n.locale=="zh" ? "Cookies: Cookies 是您的浏览器上存储的小文本文件，使我们能够进一步了解您访问或使用我们的服务的情况。我们可能会利用 cookies来记录您的个人信息并且追踪您在一段时间内使用我们的服务的情况。大多数的浏览器自动接受cookies。您可以选择设置您的浏览器接受或拒绝cookies。" : "Cookies: Cookies are small text files stored by your browser that allow us to learn more information about your visit or use of our Services. We may use cookies to remember your Personal Information, and to track your usage of our Services over time. Most browsers automatically accept cookies. You have the choice to set your browser to accept or reject cookies."}}</div>
    <div style="margin-bottom: 0.25rem;">{{$i18n.locale=="zh" ? "日志文件信息：日志文件信息由您的浏览器或移动设备在您每次访问我们的服务时自动提供。 当您访问我们的服务时，服务器会自动记录特定的日志文件信息，例如您的网页请求、IP地址、浏览器类型、进入/退出的页面及 URL、点击次数和您与链接网站的互动、域名、登录页面、浏览过的网页和其它信息。 " : "Log File Information: Log file information is automatically reported by your browser or mobile device each time you access our Services. When you use our Services, servers may automatically record certain log file information such as your web request, Internet Protocol (IP) address, browser type, referring / exit pages and URLs, number of clicks and how you interact with Linked Sites, domain names, landing pages, pages viewed, and other such information."}}</div>
    <div style="margin-bottom: 0.25rem;">{{$i18n.locale=="zh" ? "位置数据: 当您通过移动设备访问我们的服务时，我们可能会访问、收集、监控和/或远程存储您的移动设备的信息以及实时 “位置数据”，其中可能包括GPS坐标。位置数据可以使我们了解您如何浏览和使用我们的服务。您可以通过调整您的移动设备的访问权限来选择拒绝允许我们访问您的位置数据，但如果位置数据功能使用受限或被禁止使用，服务的某些功能可能会无法正常运作。 " : "Location Data: When you access our Services via a mobile device, we may access, collect, monitor, and/or remotely store information regarding your mobile device, as well as real-time “location data,” which may include GPS coordinates. Location data may convey to us information about how you browse and use our Services. You may opt-out from allowing us to have access to your location data by adjusting the permissions in your mobile device, though some features of our Services may not function properly if use or availability of location data is impaired or disabled."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "我们从第三方处获取的信息" : "Information We Receive From Third Parties"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "我们可能会从第三方处获取有关您的信息。例如，如果您通过第三方（例如社交媒体平台或垂直网站）访问与保时捷相关的内容，该第三方可能会向我们提供有关您的信息。" : "We may receive Information about you from third parties. For example, if you access Porsche-related contents through third parties (e.g., Social Media Platforms or Vertical Websites), such third parties may pass certain information about you to us."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "我们如何使用您的信息" : "How We You Use Your Information"}} </div>
    <div class="general">{{$i18n.locale=="zh" ? "我们使用您的信息，包括个人信息，主要基于以下目的，包括：" : "We use your Information, including Personal Information, for a variety of purposes, including:"}} </div>
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "为您提供我们产品与服务； " : "providing our products and services to you;"}}</li>
      <li>{{$i18n.locale=="zh" ? "就保时捷、其产品与服务以及活动与您进行沟通； " : 'communicating with you regarding Porsche, and its products, services, and Events;'}}</li>
      <li>{{$i18n.locale=="zh" ? "定制您的保时捷体验" : "customizing your Porsche experience;"}} </li>
      <li>{{$i18n.locale=="zh" ? "回应您的询问、评论或发帖； " : "responding to your inquiries, comments, or postings;"}}</li>
      <li>{{$i18n.locale=="zh" ? "管理我们的活动以及邀请您参加我们的活动；" : "administering our Events and inviting you to participate in our Events;"}}</li>
      <li>{{$i18n.locale=="zh" ? "改善并定制我们的服务； " : "improving and customizing our Services;"}}</li>
      <li>{{$i18n.locale=="zh" ? "内部管理，包括提高我们的产品和服务质量、市场营销工作，以及开展调查和分析； " : "internal operations such as enhancing our products and services, marketing efforts, and to conduct research and analysis;"}}</li>
      <li>{{$i18n.locale=="zh" ? "开发新产品与服务；" : "developing new products and services;"}}</li>
      <li>{{$i18n.locale=="zh" ? "处理付款；" : "processing payments;"}}</li>
      <li>{{$i18n.locale=="zh" ? "调查或解决询问、投诉和争议；" : "investigating or settling inquires, complaints or disputes;"}}</li>
      <li>{{$i18n.locale=="zh" ? "出于市场营销和推广目的；" : "marketing and promotion purposes;"}}</li>
      <li>{{$i18n.locale=="zh" ? "执行网站的使用条款和条件；" : "enforcing our Website Terms and Conditions of Use;"}}</li>
      <li>{{$i18n.locale=="zh" ? "保护保时捷业务和服务的安全性和完整性；" : "protecting the security and integrity of our business and our Services;"}}</li>
      <li>{{$i18n.locale=="zh" ? "出于保时捷客户或潜在客户关怀计划的目的；" : "fulfilling purposes of Porsche prospect or customer care programs;"}}</li>
      <li>{{$i18n.locale=="zh" ? "产品信息统计和进行与产品检测、维护、保修、召回、售后有关的服务和沟通；" : "performing product information statistics and carrying out service and communication in connection with product inspection, maintenance, warranty, recall and after sales service;"}}</li>
      <li>{{$i18n.locale=="zh" ? "开展客户满意度调查和市场调研；" : "conducting customers' satisfaction surveys and market research;"}}</li>
      <li>{{$i18n.locale=="zh" ? "进行产品质量分析、故障排除和车辆救援，向您和经销商提供技术支持；" : "conducting analysis of product quality, failure prevention and vehicle rescue, and provide technical support to you and our dealers;"}}</li>
      <li>{{$i18n.locale=="zh" ? "出于数据合并、存储和整合的目的；" : "performing purpose of data merger, storage and integration; and/or"}}</li>
      <li>{{$i18n.locale=="zh" ? "根据可适用的法律和监管要求向主管政府机构和/或其指定机构报告和传输数据。" : "reporting to and transmitting data to the competent government authorities and/or their designated institutions in accordance with applicable legal / regulatory requirements."}}</li>
    </ul>
    <div class="title">{{$i18n.locale=="zh" ? "我们如何分享您的信息 " : "How We Share Your Information"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "在以下情况下我们会分享和披露您的个人信息： " : "We share and disclose your Information as follows:"}}</div>
    <!-- 
      {{$i18n.locale=="zh" ? "" : ""}}
    -->
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "向代表我们提供各类服务（包括但不限于服务的开发、维护和支持服务、支付处理服务、通讯服务和市场调查和分析服务）的第三方（无论位于中国大陆地区或以外地区）提供；" : "with third parties (whether located within or outside Mainland China) that provide a variety of services on our behalf, including but not limited to the development, maintenance, and support of our Services, payment processing, communications, and marketing research and analysis;"}}</li>
      <li>{{$i18n.locale=="zh" ? "基于客户关怀和市场营销目的而向保时捷授权经销商提供；" : "with authorized Porsche dealers for customer care and marketing effort;"}}</li>
      <li>{{$i18n.locale=="zh" ? "基于推广和其他目的而向集团成员公司（无论位于中国大陆地区或以外地区）提供；" : "with authorized Porsche dealers for customer care and marketing effort;"}}</li>
      <li>{{$i18n.locale=="zh" ? "为了活动管理；" : "to manage and administer Events;"}}</li>
      <li>{{$i18n.locale=="zh" ? "为了遵守法律、监管要求、法院判决或者其他法律程序要求，或者遵守法律调查的要求；" : "to comply with laws, regulatory requirements, court orders, or other legal process, or in connection with a legal investigation;"}}</li>
      <li>{{$i18n.locale=="zh" ? "必要时，为了保护保时捷、其关联公司、授权经销商，及其各自员工、顾客、来访者、用户或者他个人或实体的权利和利益； " : "as may be necessary to protect the rights and interests of Porsche, its affiliates, and authorized Porsche dealers, and our and their respective employees, customers, visitors, users, or any other person or entity;"}}</li>
      <li>{{$i18n.locale=="zh" ? "为了执行任何适用的条款条件和其他协议；" : "to enforce any applicable terms and conditions and other agreements;"}}</li>
      <li>{{$i18n.locale=="zh" ? "进行公司交易（例如合并、重组或者并购）时，您的个人信息将可能转移给收购方公司；" : "in the event of a corporate transaction, such as a merger, reorganization, or acquisition, in which event your Personal Information may be transferred to the acquiring company;"}}</li>
      <li>{{$i18n.locale=="zh" ? "以不可识别个人的形式披露；" : "in non-personally identifiable form; and/or"}}</li>
      <li>{{$i18n.locale=="zh" ? "根据您的同意披露。" : "in accordance with your consent."}}</li>
    </ul>


    <div class="title">{{$i18n.locale=="zh" ? "我们如何保护您的信息 " : "How We Protect Your Information"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "我们提供合理的技术、管理和物理保障措施以确保您的个人信息安全。我们也会要求我们的第三方服务提供商使用商业合理安全措施以保护您的个人信息不被非授权人员访问或者使用。但是，任何数据传输都不能保证百分之百安全。" : "We implement reasonable technical, administrative, and physical safeguards to keep your Personal Information secure. We also request that our third-party service providers use commercially reasonable security measures to protect your information from unauthorized access or use. However, no data transmission is guaranteed as 100% secure."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "提交内容和用户生成内容" : "Submissions and User Generated Content"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "除非在提交时有单独、确定的条款予以规定，您向我们传达或者提交的所有不涉及个人信息的建议、材料、评论或者其他知识产权（如想法、经验和照片）（以下称“提交内容”）将会被认为是非机密和非专属信息。保时捷对于此类提交内容不承担任何义务，并且可以基于任何目的自由使用和传播提交内容，而不受任何限制。 " : "Unless governed by separate terms identified at the time of submission, all suggestions, materials, remarks, or other intellectual property (e.g. ideas, experiences and photos) with no personal information involved that you communicate or submit to us (“Submissions”) will be considered non-confidential and non-proprietary. Porsche shall have no obligation of any kind with respect to such Submissions and shall be free to use and distribute Submissions for any purposes, without limitation of any kind."}}</div>
    <div style="margin-top: 0.25rem;">{{$i18n.locale=="zh" ? "您可以通过我们的服务发布并提交可能包含您个人信息的内容（如评论、照片、博客、发布内容等）。您将对您在我们的服务发布的任何信息（包括个人信息）所产生的后果负责。保时捷不对此类发布内容所产生的后果负责。" : "Our Services may allow you to post messages and submit content (e.g. comments, photos, blogs, postings etc.), which may include your Personal Information. You are responsible for all actions resulting from any information, including Personal Information, which you post on our Services. Porsche is not responsible for the results of such postings."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "反钓鱼 " : "Anti-phishing"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "“钓鱼欺诈”是为了盗取您的个人信息所设计的骗局。如果你收到可疑电子邮件、短信或电话，看似是我们向您询问你的个人信息，请通过以下“联系我们”一节的内容告知我们。" : '"Phishing" is a scam designed to steal your Personal Information. If you receive a suspicious e-mail, SMS or call that looks like it is from us asking you for your Personal Information, please notify us as provided below in the Contact Us section.'}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "未成年人隐私 " : 'Privacy of Minors'}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "我们的服务并非为18周岁以下的未成年人使用而设计。我们不会明知在没有家长或者监护人同意的情况下收集18周岁以下的未成年人的个人信息。如果您认为我们在没有家长或者监护人同意的情况下或者在法律没有授权的情况下收集了此类信息，请根据以下的“联系我们”一节内容告知我们，我们将予以删除。" : "Our Services are not intended for use by minors under the age of 18. We do not knowingly collect Personal Information from minors under the age of 18 without parental or guardian consent. Please contact us via the contact information provided in Contact Us section if you believe we may have collected such information without parental or guardian consent or other than in a manner authorized by law, and we will work to delete it."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "您的权利 " : "Rights of Users"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "您将有权选择是否接收来自保时捷的推广邮件或短信。我们发给您的每一封推广邮件或短信中将会为您提供退出机制，使您可以退订推广邮件或短信。" : "You will be given a choice as to whether you will receive promotional e-mails or SMS from Porsche. Each promotional e-mail or SMS you receive from us will provide with you a specific opt-out mechanism to allow you to unsubscribe from receipt of these promotional e-mails or SMS. "}}</div>
    <div style="margin-bottom: 0.25rem;">{{$i18n.locale=="zh" ? "除了保时捷根据法律法规或监管要求应当继续收集、处理或保存的信息（例如法定信息），若符合可适用的法律要求，您可就保时捷所收集的个人信息进行更正或删除和行使其他法定权利。若您希望行使本节所述的任何用户权利，请通过以下方式联系我们: " : "If relevant requirements in applicable laws are met, you are entitled to correct or delete your personal information collected by Porsche and exercise other statutory rights, except for the information that should continue to be collected, processed, or retained in accordance with laws and regulations, and regulatory requirements (such as Statutory Information). If you wish to exercise any of the rights of users as stated under this section, please contact us via:"}}</div>
    <div style="margin-bottom: 0.25rem;">{{$i18n.locale=="zh" ? "客服热线：4008205911" : "Customer Service Hotline: 4008205911"}}</div>
    <div>{{$i18n.locale=="zh" ? "来信请寄：上海市浦东新区东方路1215-1217号三层 （邮编：200127；收件人：保时捷（中国）汽车销售有限公司）" : "Mail Address: 3/F 1215-1217 Dong Fang Road, Pudong New Area, Shanghai (Postcode: 200127; To: Porsche (China) Motors Ltd.)"}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "联系我们 " : "Contact Us"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "如果您对本隐私政策或者我们的隐私做法有任何疑问或者评论，请通过以下方式联系我们: " : "If you have any questions or comments about this Privacy Policy or our privacy practices, please contact us via:"}}
</div>
    <div class="title">{{$i18n.locale=="zh" ? "邮箱: compliance@porsche.cn" : "Email: compliance@porsche.cn"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "来信请寄：上海市浦东新区东方路1215-1217号三层 （邮编：200127；收件人：法务合规部门，保时捷（中国）汽车销售有限公司）" : "Mail Address: 3/F 1215-1217 Dong Fang Road, Pudong New Area, Shanghai (Postcode: 200127; To: Legal and Compliance department, Porsche (China) Motors Ltd.)"}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "您接受我们的隐私政策 " : "Your Acceptance of Our Privacy Policy"}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "通过使用我们的服务，意味着您接受我们的隐私政策，并且同意遵守我们发布于服务平台的 “法律声明”下的条款和条件。如果您不同意隐私政策中的条款，请不要访问或使用我们的服务或者向我们提交任何个人信息。" : "By using our Services, you signify your acceptance of this Privacy Policy, and you agree to adhere to the terms and conditions posted on our Services under “Legal notice.” If you do not agree with the terms of this Privacy Policy, please do not access or use our Services or submit any Personal Information to us."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "隐私政策的变更  " : "Changes to the Privacy Policy"}}</div>

  

    <div class="general" v-if="$i18n.locale == 'zh'">保时捷保留在任何时候修改本隐私政策的权利，因此，您需要定期查看其变更内容。如果我们变更本隐私政策，我们将会把变更内容发布在：<a style="color:#D5001C;text-decoration: underline;">http://www.porsche.com/china/zh/legal-notice/</a> 如您在发布变更内容后继续使用我们的服务平台，并且/或者继续提供您的个人信息，将会构成您对变更内容的接受。如果我们根据自己的判断认为本隐私政策内容的变更对使用和披露您的个人信息具有实质性影响，我们将会在<a style="color:#D5001C;text-decoration: underline;">http://www.porsche.com/china/</a> 发布公告通知，并且提供更新的隐私政策的链接。如果您需要任何有关变更的信息，请根据“联系我们”一节的内容联系我们。</div>
    <div class="general" v-if="$i18n.locale == 'en'">Porsche reserves the right to modify this Privacy Policy at any time, so you should review it frequently for changes. If we make changes to this Privacy Policy, we will post such changes here at <a style="color:#D5001C;text-decoration: underline;">http://www.porsche.com/china/en/legal-notice/</a>. Your continued use of our Services and/or provision of your Personal Information after such posting constitute your acceptance of such changes. If we make a change to this Privacy Policy that, in our sole discretion, materially affects the use or disclosure of your Personal Information, a notice will be posted at <a style="color:#D5001C;text-decoration: underline;">http://www.porsche.com/china/en/</a> with a link to the updated Privacy Policy. Please contact us as described in the Contact Us section if you would like information regarding any changes.</div>



    <div class="title">{{$i18n.locale=="zh" ? "在使用在线咨询服务之前，请您阅读以下条款。" : "Please read the following terms before using the Live Chat service."}}</div>
    <div class="general" style="margin-bottom: 0.25rem;">{{$i18n.locale=="zh" ? "在咨询过程中，保时捷（中国）汽车销售有限公司（“我们”）可能会收集您的有关个人信息。我们可能收集的个人信息包括您的姓名、电话号码、地址、电子邮箱地址、个人偏好信息、购买和订购信息、人口统计信息以及您所选择提供的任何其他信息。 " : 'In the course of a chat, Porsche (China) Motors Limited ("we", "us" or "our") may collect your personal information. Examples of the personal information we collect include name, phone number, address, email address, personal preferences, purchase and ordering information, demographic information and any other information you choose to provide.'}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "我们将对您提供的个人信息使用于以下用途：" : "We use the personal information you provide for purposes of:"}}</div>
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "回应您的问题和需求，例如产品信息需求； " : "Responding to your questions and requests such as requests for product information;"}}</li>
      <li>{{$i18n.locale=="zh" ? "运营、评估和改进我们的在线咨询服务以及整体客户支持服务； " : "Operating, evaluating and improving the Live Chat service and our customer support services in general;"}}</li>
      <li>{{$i18n.locale=="zh" ? "为您提供其他服务； " : "Providing other services to you;"}}</li>
      <li>{{$i18n.locale=="zh" ? "遵守相关适用法律、行业标准和公司政策的要求； " : "Complying with applicable legal requirements, relevant industry standards and our policies;"}}</li>
      <li style="margin-bottom: 0.12rem;">{{$i18n.locale=="zh" ? "为您发送宣传推广资料或其他通讯服务。" : "Sending you promotional materials or other communications."}}</li>
    </ul>
    <div>{{$i18n.locale=="zh" ? "当您激活并使用在线咨询服务时，我们可能会使用cookies和其他技术来自动收集下列与您相关的信息：" : "When you activate and use the Live Chat service, we may also use cookies and other technologies to automatically collect the following information."}}</div>
    <ul class="list">
      <li>{{$i18n.locale=="zh" ? "访问日期和时间" : "Date and time of the access"}} </li>
      <li>{{$i18n.locale=="zh" ? "访问我们网站的时间长度" : "Length of the visit to our website"}} </li>
      <li>{{$i18n.locale=="zh" ? "浏览器类型和版本" : "Browser type and version"}} </li>
      <li>{{$i18n.locale=="zh" ? "操作系统" : "Browser type and version"}} </li>
      <li>{{$i18n.locale=="zh" ? "数据量" : "Amount of data"}} </li>
      <li>{{$i18n.locale=="zh" ? "事件场景" : "Scene of event"}} </li>
      <li>{{$i18n.locale=="zh" ? "IP地址" : "Scene of event"}}</li>
    </ul>
    
    <div>{{$i18n.locale=="zh" ? "我们收集上述信息的目的在于为您提供在线咨询服务的某些特性和功能。我们可能将这些经自动方式收集的信息用于市场调查、数据分析和系统管理，以及遵守法律法规规定的义务。我们不会将此类信息用于识别您的个人身份或用于此述目的之外的任何其他目的。 " : "We collect the above information in order to offer you certain features or functionalities of the Live Chat service. We may use the information collected through automated means for market research, data analytics and system administration purposes and for compliance with our statutory and regulatory obligations. We will not use such information to identify you personally or for any purpose other than those described here."}}</div>
    <div class="title">{{$i18n.locale=="zh" ? "我们从您处收集的个人信息可能会被传输或存储至位于中国（大陆）境内或境外的目的地。我们可能会与我们位于中国（大陆）境内或境外的分支机构、商业合作伙伴以及第三方服务提供商共享您的个人信息，以使我们能够更好地为您提供服务。我们将采取一切合理必要措施以确保您的个人信息得到安全的、符合相关数据保护法律规定的处理。 " : "The personal information we collect from you may be transferred to, and stored at, a destination within or outside mainland China. We may share your personal information with our affiliates, business partners and third party service providers located within or outside mainland China to enable us to provide and improve our services to you. We will take all steps that are reasonably necessary to ensure that your personal information is treated securely and in accordance with applicable data protection laws."}}</div>
    <div v-if="$i18n.locale == 'zh'">您有权自愿选择是否提交您的个人信息。您可以随时通过关闭咨询窗口退出在线咨询。我们将仅在为实现此述目的或法律规定目的所需限度内保存和使用您的个人信息。 请参阅我们的隐私政策（访问<a style="color:#D5001C;text-decoration: underline;">https://www.porsche.com/china/zh/legal-notice/</a> ），以了解更多我们关于个人信息收集、使用、存储和共享的政策和实践。若您使用在线咨询服务，即表明您已阅读、理解并同意上述条款及我们隐私政策所述条款。 </div>
    <div class="general" v-if="$i18n.locale == 'en'">
      Submission of your personal information is voluntary. You may exit a chat by closing the chat window at any time. We will retain and use your personal information only as necessary for fulfillment of the purposes described herein or as required by law.Please refer to our Privacy Policy (available at <a style="color:#D5001C;text-decoration: underline;">https://www.porsche.com/china/en/legal-notice/</a> ) to learn more about our personal information collection, use, storing and sharing policies and practices. By using the Live Chat service, you have read, understood and agreed to the terms as set out above and in our Privacy Policy.
    </div>
    <div class="title">{{$i18n.locale=="zh" ? "版权所有© 2019 保时捷（中国）汽车销售有限公司。" : "Copyright ©2019  Porsche (China) Motors Ltd. "}}</div>
    <div class="general">{{$i18n.locale=="zh" ? "如果需要对于2015版本的内容变更概要，请根据上述条款联系我们。" : "To request a summary of the changes made to the last version of 2015, please contact us as described above."}}</div>
  </div>
</div>
</template>
