.pricacy_body {
  height: calc(100% - 0.5rem);
  border-top: 1px solid #E6E6E6;
  background: #fff;
  padding: 0 0.12rem;
  font-size: 0.14rem;
  color: #000;
  line-height: 0.21rem;
  .title {
    margin: 0.25rem 0 0.25rem;
  }
  .general {
    
  }
  .list {
    margin-left: 0.23rem;
    margin-top: 0.12rem;
    li {
      list-style: disc;
      margin-bottom: 0.25rem;
    }
  }
}