<template>
  <div id="app">
    <keep-alive>
        <router-view v-if="$route.meta.keepAlive" class="main" id="main" :style="{ 'height': innerHeight, 'width': innerWidth }"></router-view>
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive" class="main" id="main" :style="{ 'height': innerHeight, 'width': innerWidth }"></router-view>
    <!-- <router-view v-if="$route.meta.keepAlive" class="main" id="main" :style="{ 'height': innerHeight, 'width': innerWidth }"></router-view> -->
  </div>
</template>
<script>
  export default {
    name: 'app',
    data () {
      return {
        innerHeight: '100%',
        innerWidth: '',
      }
    },
    beforeCreate () {
      this.innerHeight = window.innerHeight + 'px';
    },
    mounted () {
      let ua = navigator.userAgent.toLowerCase();
      let isiOS = /(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent);
      let isWx = (/micromessenger/.test(ua))
      if (isiOS && isWx) {
        setTimeout(_ => {
          this.innerHeight = window.innerHeight + 'px';
        }, 5000)
      } else {
        this.innerHeight = window.innerHeight + 'px';
      }
      var that = this;
      window.addEventListener(
        "onorientationchange" in window ? "orientationchange" : "resize",
        function() {
          setTimeout(function() {
            console.log(window.innerHeight)
            that.innerHeight = window.innerHeight + "px";
            that.innerWidth = window.innerWidth + "px";
          },500)
          // window.location.reload();
        },
        false
      );
    }
  }
</script>
<style lang="scss" rel="stylesheet/scss">
  @import "assets/style/index.scss";
  @import "common/font/font.css";
  * {
    -webkit-overflow-scrolling: touch;
  }
  body {
    font-family: PorscheNextWAr-Regular, '黑体';
  }
  #app {
    height: 100%;
  }
  .main {
    background: #f5f5f5;
    // position: fixed;
    // top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  iframe {
    position: absolute;
  }
</style>
